<div ng-controller="PdController" class="container-fluid" >

	<table>
		<tr>
			<td class="fdTitles">{{tr_c.Pollutant }}:</td>
			<td>{{ pollutant_details.pollutant_name }}</td>
		</tr>
		<tr>
			<td class="fdTitles">{{ tr_c.PollutantGroup }}:</td>
			<td>{{ pollutant_group_name}}</td>
		</tr>
	</table>
	<div class="col-md-12 top-buffer10" >
	<tabset>
		<tab heading="General information">
			<table class="table table-striped table-hover col-sm-4">
				<tr>
					<td class="fdTitles col-sm-4">{{ tr_pi['POLLUTANTINFO.PollutantId'] }}</td>
					<td class="col-sm">{{ pollutant_details.lov_pollutant_id}}</td>
				</tr>
				<tr>
					<td class="fdTitles">{{ tr_pi['POLLUTANTINFO.IUPAC'] }}</td>
					<td>{{ pollutant_group_details.IUPAC_Name }}</td>
				</tr>
				<tr>
					<td class="fdTitles">{{ tr_pi['POLLUTANTINFO.CASNumber'] }}</td>
					<td>{{ pollutant_group_details.cas_no }} </td>
				</tr>
				<tr>
					<td class="fdTitles">{{ tr_pi['POLLUTANTINFO.ECNumber'] }}</td>
					<td>{{ pollutant_group_details.ec_no }}</td>
				</tr>
				<tr>
					<td class="fdTitles">{{ tr_pi['POLLUTANTINFO.smiles'] }}</td>
					<td>{{ pollutant_group_details.smiles_code }}</td>
				</tr>
				<tr>
					<td class="fdTitles">{{ tr_pi['POLLUTANTINFO.chemspider'] }}</td>
					<td>{{ pollutant_group_details.chemspider.id }}</td>
				</tr>
				<tr>
					<td class="fdTitles">{{ tr_pi['POLLUTANTINFO.Formula'] }}</td>
					<td><span ng-bind-html="pollutant_group_details.calculated_molecular_formula"></span> </td>
				</tr>
				<tr>
					<td class="fdTitles">{{ tr_pi['POLLUTANTINFO.classification'] }}</td>
					<td>{{ pollutant_group_details.classifications.classification }}</td>
				</tr>
			</table>

			<h4>{{ tr_pi['POLLUTANTINFO.description'] }}</h4>
			<p>{{ pollutant_details.description }}</p>

			<h4>{{ tr_pi['POLLUTANTINFO.mainuses'] }}</h4>
			<p>{{ pollutant_details.main_uses }}</p>

			<h4>{{ tr_pi['POLLUTANTINFO.mainmethodsrelease'] }}</h4>
			<p ng-repeat="mr in pollutant_details.main_methods_of_release.text">{{ mr }}</p>

			<h4>{{ tr_pi['POLLUTANTINFO.healthAffects'] }}</h4>
			<p ng-repeat="ha in pollutant_details.calculated_health_affects"><span ng-bind-html="ha"></span></p>

		</tab>

		<tab heading="Pollutant Group">
			<h4>{{ tr_pi['POLLUTANTINFO.Group'] }} - {{ pollutant_group_name }} </h4>

			<p><span ng-bind-html="pollutant_group_tip"></span>	</p>
			
			<br/>
			
			<p><b>Group members</b></p>
			
			<p ng-repeat="group_member in pollutant_group_details.group_members">
				{{group_member.name}}
			</p>

		</tab>

		<tab heading="Pollutant thresholds">
			<h4>{{ tr_pi['POLLUTANTINFO.provprtr'] }}</h4>

			<p>
				<b>{{ tr_pi['POLLUTANTINFO.threshold'] }}</b>
			</p>

			<table class="table table-striped table-hover">
			<tr>
				<th>{{ tr_pi['POLLUTANTINFO.air'] }}</th>
				<th>{{ tr_pi['POLLUTANTINFO.water'] }}</th>
				<th>{{ tr_pi['POLLUTANTINFO.land'] }}</th>
			</tr>
			<tr>
				<td>{{ pollutant_group_details.prtr_provisions.prtr_provision[0] }}</td>
				<td>{{ pollutant_group_details.prtr_provisions.prtr_provision[1] }}</td>
				<td>{{ pollutant_group_details.prtr_provisions.prtr_provision[2] }}</td>
			</tr>
			</table>

			<p>{{ tr_pi['POLLUTANTINFO.provprtrNote'] }} </p>
			
			<p> {{ ([89,90,91,92].indexOf(pollutantid)>-1 )? tr_pi['POLLUTANTINFO.provprtrNote2']:'' }}</p>

		</tab>

		<tab heading="Measurements and calculations methods">

			<h4>{{ tr_pi['POLLUTANTINFO.proviso'] }}</h4>

			<table class="table table-striped table-hover">
				<tr>
					<th>{{ tr_pi['POLLUTANTINFO.isostandard'] }}</th>
					<th>{{ tr_pi['POLLUTANTINFO.isotitle'] }}</th>
					<th>{{ tr_pi['POLLUTANTINFO.isotarget'] }}</th>
					<th>{{ tr_pi['POLLUTANTINFO.isouncert'] }}</th>
				</tr>
				<tr ng-repeat="provision in pollutant_details.iso_provisions.provision">
					<td>{{ provision.standard }}</td>
					<td>{{ provision.title }} </td>
					<td>{{ provision.target }}</td>
					<td><span ng-bind-html="provision.uncertainty"></span></td>
				</tr>
			</table>

			<p>{{ tr_pi['POLLUTANTINFO.isoFootNoteTitle'] }}</p>

			<p>{{ tr_pi['POLLUTANTINFO.isoFootNote1'] }}</p>

			<p>{{ tr_pi['POLLUTANTINFO.isoFootNote2'] }}</p>

			<p>{{ tr_pi['POLLUTANTINFO.isoFootNote3'] }} <a href="{{ tr_pi['POLLUTANTINFO.isoFootNoteLink1'] }}">{{ tr_pi['POLLUTANTINFO.isoFootNoteLink1'] }}</a>{{ tr_pi['POLLUTANTINFO.isoFootNote4'] }}
			<a href="{{ tr_pi['POLLUTANTINFO.isoFootNoteLink2'] }}">{{ tr_pi['POLLUTANTINFO.isoFootNoteLink2'] }}</a>{{ tr_pi['POLLUTANTINFO.isoFootNote5'] }}</p>

			<p>{{ tr_pi['POLLUTANTINFO.isoFootNote6'] }}</p>

		</tab>

		<tab heading="Synonyms or other commercial names">

			<h4>{{ tr_pi['POLLUTANTINFO.synonyms'] }}</h4>

			<p ng-repeat="synonym in pollutant_group_details.synonyms.synonym">{{ synonym }}</p>

		</tab>

		<tab heading="Other relevant reporting requirements">
			<h4>{{ tr_pi['POLLUTANTINFO.provother'] }}</h4>

			<div ng-repeat="provision in other_provisions">
				<h4><i><span ng-bind-html="provision.instrument"></span></i></h4>
				<h5><b>{{ tr_pi['POLLUTANTINFO.provOverview'] }}</b></h4>
				<p><span ng-bind-html="provision.overview"></span></p>
				<h5><b>{{ tr_pi['POLLUTANTINFO.provReportGeneric'] }}</b></h4>
				<p><span ng-bind-html="provision.generic_reporting"></span></p>
				<h5><b>{{ tr_pi['POLLUTANTINFO.provReportSpecific'] }}</b></h4>
				<p><span ng-bind-html="provision.specific_reporting"></span></p>
			</div>
		</tab>

		<tab heading="Hazards and other technical characteristics">
			
				<h4>{{ tr_pi['POLLUTANTINFO.rands'] }}</h4>
				<p> {{ tr_pi['POLLUTANTINFO.randsex'] }} </p>
				<table class="table table-striped table-hover">
					<tr ng-repeat="phrase in r_phrases">
						<td class="col-sm-4">{{ phrase.label }}</td>
						<td class="col-sm">{{ phrase.value }}</td>
					</tr>
					<tr ng-repeat="phrase in s_phrases">
						<td>{{ phrase.label }}</td>
						<td>{{ phrase.value }}</td>
					</tr>
				</table>
				
				<h4>{{ tr_pi['POLLUTANTINFO.clpghs'] }}</h4>
				<p> {{ tr_pi['POLLUTANTINFO.clpex'] }} </p>
				<p><a href='{{ tr_pi["POLLUTANTINFO.clpLinkUrl"] }}'>{{ tr_pi['POLLUTANTINFO.clpLinkText'] }}</a> </p>
				
				<h4>{{ tr_pi['POLLUTANTINFO.clp'] }} </h4>
				<table class="table table-striped table-hover">
					<tr ng-repeat="h in hazard_class">
						<td class="col-sm-4"> {{ h.label }}</td>
						<td class="col-sm"> {{ h.value }}</td>
					</tr>
				</table>
				
				<h4>{{ tr_pi['POLLUTANTINFO.ghs'] }}</h4>
				<table class="table table-striped table-hover">
					<tr ng-repeat="h in hazard_statement">
						<td class="col-sm-4"> {{ h.label }}</td>
						<td class="col-sm"> {{ h.value }}</td>
					</tr>
				</table>
				
				<h4>{{ tr_pi['POLLUTANTINFO.physical'] }} </h4>
				<table class="table table-striped table-hover">
					<tr ng-repeat="property in physical_properties">
						<td class="col-sm-4">{{ property.label }}</td>
						<td class="col-sm">{{ property.value }}</td>
					</tr>
				</table>
				
				<h4>{{ tr_pi['POLLUTANTINFO.impacts'] }} </h4>
				<table class="table table-striped table-hover">
					<tr ng-repeat="hazard in hazards">
						<td class="col-sm-4"> {{hazard.label}}</td>
						<td class="col-sm"> {{hazard.value}}</td>
					</tr>
				</table>
		</tab>
	</tabset>
	</div>
</div>