<div>
    <div class="row row-map">
    <div class=" col-md-12">
    	<h4>{{tr_p.PollutantTransfersHeadline}}</h4>
        <p>{{tr_p.AggregatedTransfersToWasteWater}}</p>
    </div>
</div>
    <div class="row row-map">

        <div class="search_form col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">Search</div>
                <div class="panel-body">
				<div id="searchbtn" style="height:35px;">
                	<div class="btn-group pull-right">
                        <input type="submit" value="Search >>" ng-click="search()" class="btn btn-success" />
                    </div>                    </div>
                    
                    <div search-placement>
                    </div>

                    <accordion close-others="{{false}}">
                        <div pollutant-search-filter-directive>
                        </div>
                        <div activity-search-filter-directive>
                        </div>
                    </accordion>

                </div>

            </div>

        </div>

        <div class="col-md-6">
<div ng-show="searchResults">
          <table>
			  <tr >
			    <td class="fdTitles">{{ tr_c.Pollutant }}:</td>
			    <td>{{ currentSearchFilter.pollutantSearchFilter.selectedPollutant.name }}</td>
			  </tr>
			  <tr >
			    <td class="fdTitles">{{tr_c.Year }}:</td>
			    <td>{{ queryParams.ReportingYear }}</td>
			  </tr>
			  <tr >
			    <td class="fdTitles">{{ tr_c.Area }}:</td>
			    <td>{{ currentSearchFilter.selectedReportingCountry.name }}</td>
			  </tr>
			  <tr >
			    <td class="fdTitles">{{ tr_c.Facilities }}:</td>
			    <td>{{ items.length }}</td>
			  </tr>
			</table>
			</br>
      <blockquote>
			<div class="text-info"><small>{{tr_p.AllValuesAreYearlyTransfers}}</small></div>
      </blockquote>
   <div  ng-hide="(hasConfidentionalData? false: true)">
      <blockquote>
      	<small><a class="text-danger" ng-click="activateTab('confidentiality')" ><i class="fa fa-exclamation-triangle"></i>  {{tr_f.ConfidentialityAlertLink}}</a></small>
      </blockquote>
   </div>
   </div>

        <tabset>
            <tab heading="Summary"  active="active.summary" ng-click="activateTab('summary')">
            	<div ng-show="searchResults">
            
            <!--div>
				<h4>{{tr_p.PollutantTransfersSummary}}</h4>
			</div-->
                <div>{{tr_p.TransfersToWastePerIndustryActivity}}</div>
                <div google-chart chart="summaryChartObject" style="height:500px; width:100%;">
                </div>
               </div>
            </tab>
           
           <tab heading="Activities" active="active.activities" ng-click="activateTab('activities')">
           	<div ng-show="searchResults">
           
           <!--div>
				<h4>{{tr_p.PollutantTransfersActivity}}</h4>
			</div-->
	
			<table class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                    	<th>&nbsp;</th>
                        <th>{{tr_p.TransferPerIndustrialActivities}}&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>{{tr_p.Facilities}}&nbsp;</th>
                        <th>{{tr_p.Quantity}}&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Level1 -->
                    <tr ng-repeat-start="item in activities | orderBy: 'key'">
                    <td>
                    <!-- use link with img as content -->
                    <img src="images/timeseries.png" class="timesericesImage" alt=""  ng-click="openActTSmodal(item.key,null,null)" /></td>
                        <td>
                        	<img class="handcursor" ng-click="showing=!showing" ng-show="!showing" src="images/plus.gif" />
                        	<img class="handcursor" ng-click="showing=!showing" ng-show="showing" src="images/minus.gif" />
                        	<a ng-click="showing=!showing">{{tr_laa[item.key]}}</a>
                        	
                        </td>
                        <td>
        
                        </td>
                        <td>{{getTypeCount(item.data,"facility")}}
                       
                        </td>
                        <td>{{getSum(item.data,"quantity")}}</td>
                    </tr>
                    <!-- Level2 -->
                    <tr ng-show="showing" ng-repeat-start="level2 in item.data | orderBy: 'iaactivityCode'">
                    	<td>
                    		<img src="images/timeseries.png" class="timesericesImage" alt="" ng-click="openActTSmodal(level2.lov_IASectorID,level2.lov_IAActivityID,null)" />
                    	</td>
                    	<td>
                    		<div class="innerlevel2">
                    		<img class="handcursor" ng-click="showing2=!showing2" ng-show="!showing2 && level2.sublevel" src="images/plus.gif" />
                        	<img class="handcursor" ng-click="showing2=!showing2" ng-show="showing2" src="images/minus.gif" /> 
                    		{{tr_laa[level2.iaactivityCode]}}
                    		</div>
                    	</td>
                    	<td>
                   
                    	</td>
                   		<td>{{getTypeCount(level2,"facility")}}
                   
           				</td>
                       	<td>{{getSum(level2,"quantity")}}</td>
                    </tr>
                    <!-- Level3 -->
                    <tr ng-show="showing2 && showing" ng-repeat-start="level3 in level2.sublevel | orderBy: 'iasubActivityCode'">
                    	<td>
                    		<img src="images/timeseries.png" class="timesericesImage" alt=""  ng-click="openActTSmodal(level3.lov_IASectorID,level3.lov_IAActivityID,level3.lov_IASubActivityID)" />
                    	</td>
                    	<td>
                    		<div class="innerlevel3"> 
                    		{{tr_laa[level3.iasubActivityCode]}}
                    		</div>
                    	</td>
                    	<td>
                    	</td>
                   		<td>{{getTypeCount(level3,"facility")}}
                   	
                  		</td>
                       	<td>{{getSum(level3,"quantity")}}</td>
                    </tr>
                    <tr ng-repeat-end></tr>
                    <tr ng-repeat-end ng-hide="true"></tr>       
                    <tr ng-if="$last">
                    	<td>
                    		<img src="images/timeseries.png" class="timesericesImage" alt=""  ng-click="openActTSmodal(null,null,null)" />
                    	</td>
                    	<td>
                    		{{tr_c.Total}}
                    	</td>
                    	<td>
                   		</td>
                   		<td>{{totalactivitiesfac}}</td>
                        <td>{{totalactivitiesq}}</td>
                    </tr>
                    <tr ng-repeat-end ng-hide="true"></tr>
                    </tbody>
                </table>    
</div>
            </tab>
            
             <tab heading="Areas"  active="active.areas" ng-click="activateTab('areas')">
             	<div ng-show="searchResults">
             
             <!--div>
				<h4>{{tr_p.PollutantTransAreas}}</h4>
			</div-->

			 <table class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                    	<th>&nbsp;</th>
                        <th>{{tr_p.TransferPerCountry}}&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>{{tr_p.Facilities}}&nbsp;</th>
                        <th>{{tr_p.Quantity}}&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    <!-- First level -->
                    <tr ng-repeat-start="item in areas" >
                        <td><img src="images/timeseries.png" class="timesericesImage" alt=""  ng-click="openAreaTSmodal(item.lov_CountryID, null, null)" /></td>
                        <td>
                        <img class="handcursor" ng-click="showing=!showing" ng-show="!showing" src="images/plus.gif" />
                        <img class="handcursor" ng-click="showing=!showing" ng-show="showing" src="images/minus.gif" />
                        <a ng-click="showing=!showing">{{tr_lco[item.key]}}</a></td>            
                        <td>
                        </td>
                        <td>{{getTypeCount(item.data,"facility")}}
                 
                        </td>
                        <td>{{getSum(item.data,"quantity")}}</td>
                    </tr>
                    
                    <!-- Second level -->
                    <tr ng-show="showing" ng-repeat-start="item2 in item.data">
                        	<td><img src="images/timeseries.png" class="timesericesImage" alt="" ng-click="openAreaTSmodal(item2.lov_CountryID, item2.lov_NUTSRegionID, item2.lov_RiverBasinDistrictID)"  /></td>        	
                        	<td ng-if="regionSearch">
                        		<div class="innerlevel2">
                        		{{tr_lnr[item2.nutslevel2RegionCode]}}
                        		</div>
                        	</td>
                        	<td ng-if="!regionSearch">
                        		<div class="innerlevel2">
                        		{{tr_lrbd[item2.riverBasinDistrictCode]}}
                        		</div>
                        	</td>        
                        	<td>
                        	</td>
                        	<td>{{getTypeCount(item2,"facility")}}
                    
                        	</td>
                         	<td>{{getSum(item2,"quantity")}}</td>
                    </tr>                
                    <tr ng-repeat-end></tr>
                       <tr ng-if="$last">
                    	<td>
                    		<img src="images/timeseries.png" class="timesericesImage"  ng-click="openAreaTSmodal(null, null, null)"  alt="" />
                    	</td>
                    	<td>
                    		{{tr_c.Total}}
                    	</td>
                    	<td>
                   		</td>
                   		<td>{{totalareasfac}}</td>
                    	<td>{{totalareasq}}</td>
                    </tr>
                    <tr ng-repeat-end ng-hide="true"></tr>
                    </tbody>
                </table>
             </div>
             </tab>
             
            <tab heading="Area Comparison" active="active.areacomparison" ng-click="activateTab('areacomparison')">
            	<div ng-show="searchResults">
            
            	<!--div>
				<h4>{{tr_p.AreaComparison}}</h4>
			</div-->
                <div google-chart chart="areaComparisonChartObject" style="height:500px; width:100%;">
                </div>
                </div>
            </tab>
            
            <tab heading="Facilities" active="active.facilities" ng-click="activateTab('facilities')">
            	<div ng-show="searchResults">
            
            <!--div>
				<h4>{{tr_p.PollutantTransFacilities}}</h4>
			</div-->
            <table class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>{{tr_c.Facility}}&nbsp;</th>
                        <th>{{tr_c.Quantity}}&nbsp;</th>
                        <th>{{tr_c.Activity}}&nbsp;</th>
                        <th>{{tr_c.Country}}&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in facilitiesItems">
                        <td><a href="#/facilitydetails?FacilityID={{item.facilityID}}&ReportingYear={{item.reportingYear}}">{{formatText(item.facilityName, item.confidentialIndicatorFacility)}}</a></td>
                        <td>{{quantity(item)}}</td>
                        <td>{{tr_laa[item.iaactivityCode]}}</td>
                        <td>{{tr_lco[item.countryCode]}}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </tab>
            
            <tab heading="Confidentiality" active="active.confidentiality" ng-click="activateTab('confidentiality')">
            	<div ng-show="searchResults">
            
            <!--div>
				<h4>{{tr_p.PollutantTransConfidentiality}}</h4>
			</div-->
                <div ng-if="!hasConfidentionalData" ng-bind-html="tr_con.NoConfidentialityInformation">
                </div>
                <br />
            	<br />        
                <div ng-if="hasConfidentionalData">
	                <div ng-bind-html="tr_c.ConfidentialityExplanationPR1">
	                </div>
	                 <table class="table table-striped table-condensed table-hover">
                    	<thead>
                    	<tr>
                   		<th>{{tr_c.Pollutant}}</th>
                  		<th>{{tr_f.Facilities}}</th>
                    	</tr>
                    	</thead>
                    	<tbody>
                    	<tr ng-repeat="item in itemCon">
                    	<td>{{tr_lpo[item.pollutantCode]}}</td>
                    	<td>{{item.count}}</td>
                    	</tr>
	                    </tbody>
               		</table>
	                <br />
					<br />
					<div ng-bind-html="tr_p.ConfidentialityReason">
					</div>
					<br />
					<br />
	                <div>
	                  <table class="table table-striped table-condensed table-hover">
                    	<thead>
                    	<tr>
                    		<th>{{tr_c.Reason}}</th>
                    		<th>{{tr_f.Facilities}}</th>
                    	</tr>
                    	</thead>
                    	<tbody>
                    	<tr ng-repeat="item in itemConReason">
                    		<td>{{tr_lcon[item.reason]}}</td>
                    		<td>{{item.count}}</td>
                    	</tr>
	                    </tbody>
               		  </table>
               		  <br />
               		    <div ng-bind-html="tr_c.ConfidentialityExplanationPR2">
	                	</div>
	                </div>
                </div>
                </div>
            </tab>
        </tabset>
	</div>

        <div class="col-md-3" style="height:600px;">
            <esri-leaf-map contenttype="'pollutanttransfer'" queryparams="queryParams" />
        </div>

    </div>

</div>

