<div class="container">
  <div class="row row-map">
	<!-- Left panel master-->
	<div class="col-md-6">
		<!-- Left panel welcome-->
		<div class="col-md-12">
			<h2>Welcome</h2>
			<div class="panel panel-default">
		  		<div class="panel-body">
					<p dd-text-collapse dd-text-collapse-max-length="528" dd-text-collapse-text="{{welcome}}"></p>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<h2>Main areas</h2>
		</div>
	<!-- Left panel first row-->
	<div class="col-md-12">
		<div class="col-md-6">
			<div class="panel widget">
               <div class="panel-body bg-blue">
	                  <a class="white" href="#navsearch"><div class="col-md-4"><em class="white fa fa-bar-chart fa-2x"></em></div><div class="col-md-8">Database</br>searches</div></a>
               </div>
	        </div> 
	   </div>
		<div class="col-md-6">
			<div class="panel widget">
               <div class="panel-body bg-lightblue">
	                  <a class="white" href="#navlibrary"><div class="col-md-4"><em class="white fa fa-book fa-2x"></em></div><div class="col-md-8">E-PRTR</br>library</div></a>
               </div>
            </div>   
	   </div>
   </div>

		<!-- Left panel second row-->
		<div class="col-md-12">
			<div class="col-md-6">
		      <!-- START panel-->
				<div class="panel widget">
	               <div class="panel-body bg-purple">
	                  <a class="white" href="#diffuseemissions"><div class="col-md-4"><em class="white fa fa-leaf fa-2x"></em></div><div class="col-md-8">Diffuse</br>emissions</div></a>
	               </div>
	            </div>      <!-- END panel-->
	   		</div>
			<div class="col-md-6">
				<div class="panel widget">
	               <div class="panel-body bg-green">
	                  <a class="white" href="#pollutantinfo"><div class="col-md-4"><em class="white fa fa-info fa-2x"></em></div><div class="col-md-8">Pollutant</br>description</div></a>
	               </div>
	        	</div> 
	   		</div>
	   </div>
	   
		<!-- Left panel third row-->
		<div class="col-md-12">
			<div class="col-md-6">
				<div class="panel widget">
		               <div class="panel-body bg-red">
	                  <a class="white" href="#static?cont=faq"><div class="col-md-4"><em class="white fa fa-question fa-2x"></em></div><div class="col-md-8">Frequent</br>Questions</div></a>
		               </div>
		            </div>  
		   </div>
			<div class="col-md-6">
		      <!-- START panel-->
				<div class="panel widget">
		               <div class="panel-body bg-orange">
	                  <a class="white" href="#static?cont=feedback"><div class="col-md-4"><em class="white fa fa-comments fa-2x"></em></div><div class="col-md-8">Contact &</br>feedback</div></a>
		               </div>
		            </div>      <!-- END panel-->
		   </div>
	   </div>
 	</div>

	<div class="col-md-6" style="height:620px;">
     	<h2>E-PRTR Facilities</h2>
     	<esri-leaf-map queryparams="queryParams" />
     </div>	
  </div>
</div>
