<div class="container">
  <div class="row row-map">
	<!-- Left panel master-->
	<div class="col-md-6">
		<!-- Left panel welcome-->
		<div class="col-md-12">
			<h2>Welcome</h2>
			<div class="panel panel-default">
		  		<div class="panel-body">
					<p dd-text-collapse dd-text-collapse-max-length="528" dd-text-collapse-text="{{welcome}}"></p>
				</div>
			</div>
		</div>
		
	<div class="col-md-12">
		<div class="well gradient-green" style="height:130px;">
			<div class="col-md-1"><em class="white-big fa fa-bar-chart fa-3x"></em></div>
			<div class="col-md-11 text">
				<span class="white-big">Search the register</span>
				<ul class="list-inline">
			    <li><a class="white-small" href="#facilitylevels" ng-click="subtitle = 'Facility Level'">Facility Level</a></li>
                <li class="divider white-small">&#8226;</li>
                <li><a class="white-small" href="#industrialactivity" ng-click="subtitle = 'Industrial Activity'">Industrial Activity</a></li>
                <li class="divider white-small">&#8226;</li>
                <li><a class="white-small" href="#areaoverview" ng-click="subtitle = 'Area Overview'">Area Overview</a></li>
                <li class="divider white-small">&#8226;</li>
                <li><a class="white-small" href="#pollutantreleases" ng-click="subtitle = 'Pollutant Releases'">Pollutant Releases</a></li>
                <li class="divider white-small">&#8226;</li>
                <li><a class="white-small" href="#pollutanttransfers" ng-click="subtitle = 'Pollutant Transfers'">Pollutant Transfers</a></li>
                <li class="divider white-small">&#8226;</li>
                <li><a class="white-small" href="#wastetransfers" ng-click="subtitle = 'Waste Transfers'">Waste Transfers</a></li></ul>
				</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="well gradient-blue" style="height:100px;">
			<div class="col-md-1"><em class="white-big fa fa-leaf fa-3x"></em></div>
			<div class="col-md-11 text">
				<span class="white-big" >Diffuse emissions</span>
				<ul class="list-inline">
			    <li><a class="white-small" href="#diffemissionsair" ng-click="subtitle = 'Releases to air'">Releases to air</a></li>
                <li class="divider white-small">&#8226;</li>
                <li><a class="white-small" href="#diffemissionswater" ng-click="subtitle = 'Releases to water'">Releases to water</a></li>
				</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="well bg-border-blue" style="height:100px;">
			<div class="col-md-4"><em class="blue-big fa fa-info fa-3x"></em>
				<a class="blue" href="#pollutantinfo">Pollutant description</a>
			</div>
			<div class="col-md-4"><em class="blue-big fa fa-question fa-3x"></em>
				<a class="blue" href="#faq">Frequent Questions</a>
			</div>
			<div class="col-md-4"><em class="blue-big fa fa-comments fa-3x"></em>
				<a class="blue" href="#static?cont=feedback">Contact & feedback</a>
			</div>
		</div>
	</div>
 	</div>

	<div class="col-md-6" style="height:591px;">
     	<h2>E-PRTR Facilities</h2>
     	<esri-leaf-map queryparams="queryParams" />
     </div>	
  </div>
</div>
