<div class="container">
  <div class="row">
	<!-- Left panel master-->
	<div class="col-md-12">
		<!-- Left panel welcome-->
			<h2>E-PRTR Library</h2>
			<div class="panel panel-default">
		  		<div class="panel-body">
					<p >{{aboutlibrary}}</p>
				</div>
			</div>
	</div>
  </div>
  <div class="row">
		<div class="col-md-6">

		    <div class="panel bg-border-blue">
		      <div class="panel-heading bg-header-blue">
		      	<em class="white fa fa-bar-chart fa-2x"></em>  <a class="white" href="#static?cont=glossary">Glossary</a></div>
		      <div class="panel-body">{{descgl}}</div>
		    </div>
	   </div>
		<div class="col-md-6">
		    <div class="panel bg-border-lightblue">
		      <div class="panel-heading bg-header-lightblue">
		      	<em class="white fa fa-bar-chart fa-2x"></em>  <a class="white" href="#static?cont=activity">Activities</a></div>
		      <div class="panel-body">{{descac}}</div>
		    </div>
	   </div>
		<div class="col-md-6">
		    <div class="panel bg-border-purple">
		      <div class="panel-heading bg-header-purple">
		      	<em class="white fa fa-bar-chart fa-2x"></em>  <a class="white" href="#static?cont=pollutant">Pollutants</a></div>
		      <div class="panel-body">{{descpo}}</div>
		    </div>
	   </div>
		<div class="col-md-6">
		    <div class="panel bg-border-green">
		      <div class="panel-heading bg-header-green">
		      	<em class="white fa fa-bar-chart fa-2x"></em>  <a class="white" href="#static?cont=waste">Waste</a></div>
		      <div class="panel-body">{{descwa}}</div>
		    </div>
	   </div>
	   
  </div>
</div>