<div class="container">
  <div class="row">
	<!-- Left panel master-->
	<div class="col-md-12">
		<!-- Left panel welcome-->
			<h2>E-PRTR Search possibilities</h2>
			<div class="panel panel-default">
		  		<div class="panel-body">
					<p >{{aboutsearch}}</p>
				</div>
			</div>
	</div>
  </div>
  <div class="row">

		<div class="col-md-6">

		    <div class="panel bg-border-blue">
		      <div class="panel-heading bg-header-blue">
		      	<em class="white fa fa-bar-chart fa-2x"></em>  <a class="white" href="#facilitylevels">Facility level</a></div>
		      <div class="panel-body">{{descfl}}</div>
		    </div>
	   </div>
		<div class="col-md-6">
		    <div class="panel bg-border-lightblue">
		      <div class="panel-heading bg-header-lightblue">
		      	<em class="white fa fa-bar-chart fa-2x"></em>  <a class="white" href="#industrialactivity">Industrial Activity</a></div>
		      <div class="panel-body">{{descia}}</div>
		    </div>
	   </div>
		<div class="col-md-6">
		    <div class="panel bg-border-purple">
		      <div class="panel-heading bg-header-purple">
		      	<em class="white fa fa-bar-chart fa-2x"></em>  <a class="white" href="#areaoverview">Area Overview</a></div>
		      <div class="panel-body">{{descao}}</div>
		    </div>
	   </div>
		<div class="col-md-6">
		    <div class="panel bg-border-green">
		      <div class="panel-heading bg-header-green">
		      	<em class="white fa fa-bar-chart fa-2x"></em>  <a class="white" href="#pollutantreleases">Pollutant Releases</a></div>
		      <div class="panel-body">{{descpr}}</div>
		    </div>
	   </div>
		<div class="col-md-6">
		    <div class="panel bg-border-orange">
		      <div class="panel-heading bg-header-orange">
		      	<em class="white fa fa-bar-chart fa-2x"></em>  <a class="white" href="#wastetransfers">Waste Transfers</a></div>
		      <div class="panel-body">{{descpt}}</div>
		    </div>
	   </div>
		<div class="col-md-6">
		    <div class="panel bg-border-red">
		      <div class="panel-heading bg-header-red">
		      	<em class="white fa fa-bar-chart fa-2x"></em>  <a class="white" href="#pollutanttransfers">Pollutant Transfers</a></div>
		      <div class="panel-body">{{descwt}}</div>
		    </div>
		</div>
	   
	   
  </div>
</div>