			<div class="row" >

<!-- Insert table here -->
	<div class="col-md-12 table-responsive top-buffer10" style="max-height:500px">
	        <span us-spinner="{radius:16, width:6, length: 12}" spinner-key="spinner-1"></span>
	
			<table class="table table-striped table-condensed table-hover" >
                    <thead>
                    <tr>
                        <th ng-repeat="item in headeritems | orderBy: 'order'" class="{{item.align}}" ng-bind-html="item.txt"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Level1 -->
                    <tr ng-repeat-start="item in items | orderBy: 'key'">
       				<td >
                       	<img class="handcursor" ng-click="showing=!showing" ng-show="!showing" src="images/plus.gif" />
                       	<img class="handcursor" ng-click="showing=!showing" ng-show="showing" src="images/minus.gif" />
                       	<a ng-click="showing=!showing">{{tr_laa[item.key]}}</a>         	
                     </td>
                    <td >
                    {{tr_c.Quantity}}<br />
                    {{tr_c.Facilities}}
                    </td>
                    <td ng-repeat="polq in item.pollutantquantitys | orderBy: 'pollutantCode'" class="text-right">
                    {{ff.formatMethod(polq[med])}}<br />
                    {{(polq[med]>0)?polq.facilities:0  | number}}
                    </td>
                    </tr>

                    <!-- Level2 -->
                    <tr ng-show="showing" ng-repeat-start="level2 in item.data | orderBy: 'iaActivityCode'">
                    	<td>
                    		<div class="innerlevel2">
                    		<img class="handcursor" ng-click="showing2=!showing2" ng-show="!showing2 && level2.data" src="images/plus.gif" />
                        	<img class="handcursor" ng-click="showing2=!showing2" ng-show="showing2" src="images/minus.gif" /> 
                    		{{tr_laa[level2.iaActivityCode]}}
                    		</div>
                    	</td>
                    <td >
                    {{tr_c.Quantity}}<br />
                    {{tr_c.Facilities}}
                    </td>
                    <td ng-repeat="polq2 in level2.pollutantquantitys | orderBy: 'pollutantCode'" class="text-right">
                    {{ff.formatMethod(polq2[med])}}<br />
                    {{(polq2[med]>0)?polq2.facilities:0 | number}}
                    </td>
                   	</tr>
                    <!-- Level3 -->
                    <tr ng-show="showing2 && showing" ng-repeat-start="level3 in level2.data | orderBy: 'iaSubActivityCode'">
                    	<td>
                    		<div class="innerlevel3"> 
                    		{{tr_laa[level3.iaSubActivityCode]}}
                    		</div>
                    	</td>
                    <td >
                    {{tr_c.Quantity}}<br />
                    {{tr_c.Facilities}}
                    </td>
                    <td ng-repeat="polq3 in level3.pollutantquantitys | orderBy: 'pollutantCode'" class="text-right">
                    {{ff.formatMethod(polq3[med])}}<br />
                    {{(polq3[med]>0)?polq3.facilities:0 | number}}
                    </td>
                    </tr>
                    <tr ng-repeat-end></tr>
                    <tr ng-repeat-end ng-hide="true"></tr>       
                    <tr ng-if="$last">
                    	<td>
                    	{{tr_c.Total}}
                    	</td>
                   		<td>
                   		{{tr_c.Total}}<br />
                    	{{tr_c.Facilities}}
                   		</td>
                    <td ng-repeat="polqt in pttotal | orderBy: 'pollutantCode'" class="text-right">
                    {{ff.formatMethod(polqt.quantity)}}<br />
                    {{polqt.facilities | number}}
                    </td>
                    </tr>
                    <tr ng-repeat-end ng-hide="true"></tr>
                    </tbody>
                </table>
                
                <p class="text-warning" ng-if="items.length < 1">{{tr_c.NoResultsFound}}</p>
           </div>
      </div>