<div class="container-fluid" ng-controller="PollutantInfoCtrl">
	<div class="row">
		<div class="col-md-12">
			<h3>{{ label_pollutant_head }}</h3>
		</div>
			<div class="top-buffer10">
				<div class="panel-body">
					<p>{{ label_pollutant_headnotes}}</p>
					<p>{{label_pollutant_headnotes2}}<a href="{{label_pollutant_headlink + label_pollutant_headlink2}}">{{label_pollutant_headlink_label}}</a></p>
					<p><i><span ng-bind-html="label_pollutant_headnotes3"></span></i></p>
				</div>
			</div>
	</div>

	<div class="row top-buffer10">
		
		<!-- Left panel master-->
	<div class="search_form col-md-3">

		<div class="panel panel-info">
			<div class="panel-heading">Search</div>
			<div class="panel-body">
			      <div class="top-buffer10" id="prPollutantGroup" sf-pollutant queryparams="queryParams" pgselect="prfilter.pgselect" pselect="prfilter.pselect" grponly="false" ></div>
			</div>
			</div>
			</div>
		<!--div class="row">
				<div class="col-md-2 col-md-offset-1">
			      <div class="top-buffer10" id="prPollutantGroup" sf-pollutant queryparams="queryParams" pgselect="prfilter.pgselect" pselect="prfilter.pselect" grponly="false" ></div>
				</div-->
			
		<div class="col-md-9">
			<div class="row" ng-if=" showPollutantDetails ">
				<div class="col-md-12">
					<pollutant-details pollutantid="pollutants[1].lov_PollutantID" />
				</div>
			</div>
			</div>
		</div>
	</div>