<div>

    <div>
        <h3>{{tr_ina.Headline}}</h3>
        <p>{{tr_ina.SubHeadline}}</p>
    </div>

    <div class="row row-map">

        <div class="search_form col-md-6">

            <div class="panel panel-info">
                <div class="panel-heading">Search</div>
                <div class="panel-body">

                    <div search-placement>
                    </div>

                    <accordion close-others="{{false}}">
                        <div activity-search-filter-directive>
                        </div>
                    </accordion>

                    <div>
                        <input type="submit" value="Search" ng-click="search()" class="btn btn-default">
                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-6" style="height:400px;">
            <esri-leaf-map queryparams="queryParams" />
        </div>

    </div>
	<div ng-show="searchResults">
        <tabset>
            <tab heading="Pollutant Releases">
	           	<div>
					<h3>{{tr_ina.IndustrialActivityPollutantReleases}}</h3>
				</div>
	           	<div class="row">
				   	<div class="col-md-1">
	       			{{tr_c.Year}}:
	       			</div>
	       			<div class="col-md-1">
	       			{{queryParams.ReportingYear}}
	       			</div>
				</div>
				<div class="row">
			   		<div class="col-md-1">
      				{{tr_c.Area}}:
      				</div>
      				<div class="col-md-3">
      				{{currentSearchFilter.selectedReportingCountry.name}}
      				</div>
				</div>
				<div class="row">
			   		<div class="col-md-1">
       				{{tr_ina.Headline}}:
       				</div>
       				<div class="col-md-3">
       				{{sectorIA}}
       				</div>
				</div>
				<br />
				<table class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>{{tr_p.ReleasesPerCountry}}&nbsp;</th>
                        <th></th>
                        <th>{{tr_c.Facilities}}&nbsp;</th>
                        <th>{{tr_c.Air}}&nbsp;</th>
                        <th>{{tr_c.Water}}&nbsp;</th>
                        <th>{{tr_c.Soil}}&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="item in pollutantreleaseItems | orderBy: 'key'")>
                    	<td>
                     	{{tr_lpo[item.key]}}
                    	</td>
                    	<td>
                        </td>
                    	<td>
                    	{{getTypeCount(item.sublevel)}}
                    	</td>
                    	<td></td>
                    	<td></td>
                    	<td></td>
                    </tr>
                     <tr ng-repeat-start="level2 in item.sublevel | orderBy: 'pollutantCode'">
                	    <td><a href=""><img src="images/timeseries.png" class="timesericesImage" ng-click="showinfo(item2, this)" alt="" /></a> 
                	    <!--  {{tr_lpo[level2.pollutantCode]}}</td>-->
                	    {{level2.pollutantCode}}
                    	<td>{{tr_p.ReleasesAccidentialTotal}}<br/>
                        {{tr_p.ReleasesAccidentalValue}}
                        </td>
                    	<td>{{getTypeCount(level2)}}<br />
                    	{{getTypeCountAccidential(level2)}}</td>
                    	<td>
                    	{{getformat(level2.quantityAir)}}<br />
                    	{{getformat(level2.quantityAccidentalAir)}}
                    	</td>
                    	<td>
                    	{{getformat(level2.quantityWater)}}<br />
                    	{{getformat(level2.quantityAccidentalWater)}}
                    	</td>
                    	<td>
                    	{{getformat(level2.quantitySoil)}}<br />
                    	{{getformat(level2.quantityAccidentalSoil)}}
                    	</td>
                    </tr>
                    <tr ng-repeat-end></tr>
                    <tr ng-repeat-end ng-hide="true"></tr>  
                    </tbody>
                </table>
				
           	</tab>
           	
           	<tab heading="Pollutant Transfer">
         		<div>
					<h3>{{tr_ina.IndustrialActivityPollutantTransfers}}</h3>
				</div>
				<div class="row">
			   		<div class="col-md-1">
       				{{tr_c.Year}}:
       				</div>
       				<div class="col-md-1">
       				{{queryParams.ReportingYear}}
       				</div>
				</div>
				<div class="row">
			   		<div class="col-md-1">
       				{{tr_c.Area}}:
       				</div>
       				<div class="col-md-3">
       				{{currentSearchFilter.selectedReportingCountry.name}}
       				</div>
				</div>
				<div class="row">
			   		<div class="col-md-1">
       				{{tr_ina.Headline}}:
       				</div>
       				<div class="col-md-3">
       				{{sectorIA}}
       				</div>
				</div>
				<br />
				<table class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>{{tr_p.TransferPerCountry}}&nbsp;</th>
                        <th>{{tr_c.Facilities}}&nbsp;</th>
                        <th>{{tr_c.Quantity}}&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="item in pollutanttransferItems | orderBy: 'key'">
                    	<td>
                    	{{tr_lpo[item.key]}}
                    	</td>
                    	<td>{{getTypeCount(item.sublevel)}}</td>
                    	<td></td>
                    </tr>
                    <tr ng-repeat-start="level2 in item.sublevel | orderBy: 'pollutantCode'">
						<td>
                    	<a href=""><img src="images/timeseries.png" class="timesericesImage" ng-click="showinfo(item2, this)" alt="" /></a>
                    	{{tr_lpo[level2.pollutantCode]}}
                    	</td>
                    	<td>{{getTypeCount(level2)}}</td>
                    	<td>{{getformat(level2.totalQuantity)}}</td>                  
                    </tr>
                    <tr ng-repeat-end></tr>
                    <tr ng-repeat-end ng-hide="true"></tr>   
                    </tbody>
                </table>
           	</tab>
           	
           	<tab heading="Waste Transfer">
           	  	 <div>
					<h3>{{tr_ina.IndustrialActivityWasteTransfers}}</h3>
				</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Year}}:
       			</div>
       			<div class="col-md-3">
       			{{queryParams.ReportingYear}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Area}}:
       			</div>
       			<div class="col-md-3">
       			{{currentSearchFilter.selectedReportingCountry.name}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_ina.Headline}}:
       			</div>
       			<div class="col-md-3">
       			{{sectorIA}}
      			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Facilities}}:
       			</div>
       			<div class="col-md-3">
       			{{getTypeCount(summaryItems)}}
       			</div>
			</div>
			<br />
			{{tr_wt.AllValuesAreYearlyTransfers}}
			<br/>
			<div class="row">
			<div class="col-md-6">
				<div google-chart chart="summaryChartObject2" style="height:300px;width:100%;">
	            </div> 
            </div>
	         <div class="col-md-6">
	            <div google-chart chart="summaryChartObject1" style="height:300px;width:100%;">
	            </div>
	         </div>
            </div>
            </table>
			<br />
			<table class="table table-striped table-condensed table-hover">
                   <thead>
                   <tr>
                   <th>{{tr_wt.WasteTransfers}}</th>
                   <th>{{tr_c.Facilities}}</th>
                   <th>{{tr_wt.Recovery}}</th>
                   <th>{{tr_wt.Disposal}}</th>
                   <th>{{tr_wt.Unspecified}}</th>
                   <th>{{tr_c.TotalQuantity}}</th>
                   </tr>
                   </thead>
                    <tbody>
                     <tr ng-repeat="item in summaryItems">
                     <td>
                     <a href=""><img src="images/timeseries.png" class="timesericesImage" alt="" /></a>
                     {{item.wastetype}}
                     </td>
                     <td>
                     {{item.facilityCount}}
                     </td>
                     <td>
                     {{getformat(item.recovery)}}<br />
                     {{getpctformat(item.rpct)}}
                     </td>
                     <td>
                     {{getformat(item.disposal)}}<br />
                     {{getpctformat(item.dpct)}}
                     </td>
                     <td>
                     {{getformat(item.unspec)}}<br />
                     {{getpctformat(item.upct)}}
                     </td>
                     <td>{{getformat(item.total)}}</td>
                     </tr>
                   </tbody>
            </table>
           	</tab>
           	
           	  <tab heading="Confidentiality">
           	</tab>
        </tabset>
     </div>
</div>
