<div>

	<div>
		<h3>{{tr_ina.Headline}}</h3>
	</div>
	<div class="row">
		<div class="col-md-9">
			<p>{{tr_ina.SubHeadline}}</p>
		</div>
		<div class="col-md-3 text-right minor-padding">
			<button type="button" ng-click="togglemapview()"
				class="btn btn-default resize_button">
				<span class="{{resize_icon}}" aria-hidden="true"></span>
			</button>
		</div>
	</div>

	<div class="row row-map">

		<div class="search_form col-md-3">

			<div class="panel panel-info">
				<div class="panel-heading">Search</div>
				<div class="panel-body">
					<div id="searchbtn" style="height: 35px;">
						<div class="btn-group pull-right">
							<input type="submit" value="Search >>" ng-click="search()"
								class="btn btn-success" />
						</div>
					</div>


					<div search-placement></div>

					<accordion close-others="{{false}}">
					<div activity-search-filter-directive></div>
					</accordion>

				</div>

			</div>

		</div>

		<div class="col-md-9">

			<div class="row">

				<div class="{{mapclss}}" style="height: 600px;">
					<esri-leaf-map contenttype="'facilitylevel'"
						queryparams="queryParams" control="mapctrl" />
				</div>

				<div class="{{resclss}}">



					<div class="col-md-12 top-buffer10" ng-if="beforesearch">
						<div class="alert alert-success">
							<strong>{{tr_c.SearchText}}</strong>
						</div>
					</div>
					<span us-spinner="{radius:16, width:6, length: 12}"
						spinner-key="spinner-1"></span>
					<div class="col-md-8"
						ng-hide="(hasConfidentionalData? false: true)">
						<blockquote>
							<small><a class="text-danger"
								ng-click="activateTab('confidentiality')"><i
									class="fa fa-exclamation-triangle"></i>
									{{tr_f.ConfidentialityAlertLink}}</a></small>
						</blockquote>
					</div>

					<tabset> <tab heading="Pollutant Releases"
						active="active.pollutantrelease"
						ng-click="activateTab('pollutantrelease')">
					<div id="industrial_activity_pollutant_releases"
						ng-show="searchResults">
						<div class="row top-buffer10">
							<div class="col-md-6">
								<table>
									<tr>
										<td class="fdTitles">{{tr_c.Year }}:</td>
										<td>{{ queryParams.ReportingYear }}</td>
									</tr>
									<tr>
										<td class="fdTitles">{{ tr_c.Area }}:</td>
										<td>{{ currentSearchFilter.selectedReportingCountry.name
											}}</td>
									</tr>
									<tr>
										<td class="fdTitles">{{ tr_ina.Headline }}:</td>
										<td>{{ sectorIA }}</td>
									</tr>
									<tr>
										<td class="fdTitles">{{tr_c.Facilities }}:</td>
										<td>{{polreleasecount}}&nbsp;({{tr_c.TotalInSearch}}:&nbsp;{{quantityTotalSearchResult}})</td>
									</tr>
								</table>
							</div>
							<div class="col-md-6">
								<button
									class="print-button btn btn-default btn-default pull-right"
									ng-print
									print-element-id="industrial_activity_pollutant_releases">
									<i class="fa fa-print"></i>
								</button>
								<button class="btn btn-default pull-right"
									ng-click="downloadClick('pollutantRelease')">
									<span class="glyphicon glyphicon-download-alt"
										aria-hidden="true"></span>
								</button>
							</div>
						</div>
						<div class="col-md-12 table-responsive top-buffer10">
							<table class="table table-striped table-condensed table-hover">
								<thead>
									<tr>
										<th>{{tr_p.ReleasesPerCountry}}&nbsp;</th>
										<th></th>
										<th class="text-right col-Min75">{{tr_c.Facilities}}&nbsp;</th>
										<th class="text-right col-Min75">{{tr_c.Air}}&nbsp;</th>
										<th class="text-right col-Min75">{{tr_c.Water}}&nbsp;</th>
										<th class="text-right col-Min75">{{tr_c.Soil}}&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr
										ng-repeat-start="item in pollutantreleaseItems | orderBy: 'key'">
										<td>{{tr_lpo[item.key]}}</td>
										<td></td>
										<td class="text-right">
											{{cf.getFacilityCount(item.sublevel)}}</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr
										ng-repeat-start="level2 in item.sublevel | orderBy: 'pollutantCode'">
										<td><a href=""> <img src="images/timeseries.png"
												class="timesericesImage"
												ng-click="openPTSmodal('pollutantrelease',level2.lov_PollutantID)"
												alt="" />
										</a> {{level2.pollutantCode}}</td>
										<td>{{tr_p.ReleasesAccidentialTotal}}<br />
											{{tr_p.ReleasesAccidentalValue}}
										</td>
										<td class="text-right">{{cf.getTypeCount(level2)}}<br />
											{{cf.getTypeCountAccidential(level2)}}
										</td>
										<td class="text-right">
											{{cf.getformat(level2.quantityAir)}}<br />
											{{cf.getformat(level2.quantityAccidentalAir)}}
										</td>
										<td class="text-right">
											{{cf.getformat(level2.quantityWater)}}<br />
											{{cf.getformat(level2.quantityAccidentalWater)}}
										</td>
										<td class="text-right">
											{{cf.getformat(level2.quantitySoil)}}<br />
											{{cf.getformat(level2.quantityAccidentalSoil)}}
										</td>
									</tr>
									<tr ng-repeat-end></tr>
									<tr ng-repeat-end ng-hide="true"></tr>
								</tbody>
							</table>
						</div>
					</div>
					</tab> <tab heading="Pollutant Transfer"
						active="active.pollutanttransfer"
						ng-click="activateTab('pollutanttransfer')">
					<div id='industrial_activity_pollutant_transfer'
						ng-show="searchResults">
						<div class="col-md-6 top-buffer10">
							<table>
								<tr>
									<td class="fdTitles">{{tr_c.Year }}:</td>
									<td>{{ queryParams.ReportingYear }}</td>
								</tr>
								<tr>
									<td class="fdTitles">{{ tr_c.Area }}:</td>
									<td>{{ currentSearchFilter.selectedReportingCountry.name
										}}</td>
								</tr>
								<tr>
									<td class="fdTitles">{{ tr_ina.Headline }}:</td>
									<td>{{ sectorIA }}</td>
								</tr>
								<tr>
									<td class="fdTitles">{{tr_c.Facilities }}:</td>
									<td>{{poltransfercount}}&nbsp;({{tr_c.TotalInSearch}}:&nbsp;{{quantityTotalSearchResult}})</td>
								</tr>
							</table>
						</div>
						<div class="col-md-6 top-buffer10">

							<button class="print-button btn btn-default pull-right" ng-print
								print-element-id="industrial_activity_pollutant_transfer">
								<i class="fa fa-print"></i>
							</button>
							<button class="btn btn-default pull-right"
								ng-click="downloadClick('pollutantTransfer')">
								<span class="glyphicon glyphicon-download-alt"
									aria-hidden="true"></span>
							</button>

						</div>
						<div class="col-md-12 table-responsive top-buffer10">
							<table class="table table-striped table-condensed table-hover">
								<thead>
									<tr>
										<th>{{tr_p.TransferPerCountry}}&nbsp;</th>
										<th class="text-right">{{tr_c.Facilities}}&nbsp;</th>
										<th class="text-right">{{tr_c.Quantity}}&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr
										ng-repeat-start="item in pollutanttransferItems | orderBy: 'key'">
										<td>{{tr_lpo[item.key]}}</td>
										<td class="text-right">{{cf.getFacilityCount(item.sublevel)}}</td>
										<td class="text-right"></td>
									</tr>
									<tr
										ng-repeat-start="level2 in item.sublevel | orderBy: 'pollutantCode'">
										<td><a href=""><img src="images/timeseries.png"
												class="timesericesImage"
												ng-click="openPTSmodal('pollutanttransfer',level2.lov_PollutantID)"
												alt="" /></a> {{tr_lpo[level2.pollutantCode]}}</td>
										<td class="text-right">{{cf.getTypeCount(level2)}}</td>
										<td class="text-right">{{cf.getformat(level2.totalQuantity)}}</td>
									</tr>
									<tr ng-repeat-end></tr>
									<tr ng-repeat-end ng-hide="true"></tr>
								</tbody>
							</table>
						</div>
					</div>
					</tab> <tab heading="Waste Transfer" active="active.wastetransfer"
						ng-click="activateTab('wastetransfer')">
					<div id="industrial_activity_waste_transfer"
						ng-show="searchResults">
						<div class="row top-buffer10">
							<div class="col-md-4">
								<table>
									<tr>
										<td class="fdTitles">{{tr_c.Year }}:</td>
										<td>{{ queryParams.ReportingYear }}</td>
									</tr>
									<tr>
										<td class="fdTitles">{{ tr_c.Country }}:</td>
										<td>{{ currentSearchFilter.selectedReportingCountry.name
											}}</td>
									</tr>
									<tr>
										<td class="fdTitles">{{ tr_ina.Headline }}:</td>
										<td>{{ sectorIA }}</td>
									</tr>
									<tr>
										<td class="fdTitles">{{tr_c.Facilities }}:</td>
										<td>{{wastetransfercount}}&nbsp;({{tr_c.TotalInSearch}}:&nbsp;{{quantityTotalSearchResult}})</td>
									</tr>
								</table>
							</div>
							<div class="col-md-4">
								<blockquote>
									<div class="text-info">
										<small>{{tr_wt.AllValuesAreYearlyTransfers}}</small>
									</div>
								</blockquote>
							</div>
							<div class="col-md-4">
								<button class="print-button btn btn-default pull-right" ng-print
									print-element-id="industrial_activity_waste_transfer">
									<i class="fa fa-print"></i>
								</button>
								<button class="btn btn-default pull-right"
									ng-click="downloadClick('wasteTransfer')">
									<span class="glyphicon glyphicon-download-alt"
										aria-hidden="true"></span>
								</button>
							</div>
						</div>
						<div class="row top-buffer10">
							<div class="col-md-6">
								<div google-chart chart="summaryChart2"></div>
								<!--div google-chart="summaryChartObject2" style="height:300px;width:100%;"></div-->
							</div>
							<div class="col-md-6">
								<div google-chart chart="summaryChart1"></div>
								<!--div google-chart="summaryChartObject1" style="height:300px;width:100%;">
	            </div-->
							</div>
						</div>
						</table>
						<div class="col-md-12 table-responsive top-buffer10">
							<table class="table table-striped table-condensed table-hover">
								<thead>
									<tr>
										<th>{{tr_wt.WasteTransfers}}</th>
										<th class="text-right">{{tr_c.Facilities}}</th>
										<th class="text-right">{{tr_wt.Recovery}}</th>
										<th class="text-right">{{tr_wt.Disposal}}</th>
										<th class="text-right">{{tr_wt.Unspecified}}</th>
										<th class="text-right">{{tr_c.TotalQuantity}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in summaryItems">
										<td><a href=""><img src="images/timeseries.png"
												class="timesericesImage" ng-click="openWTTSmodal(item.wt)"
												alt="" /></a> {{item.wastetype}}</td>
										<td class="text-right">{{item.facilityCount}}</td>
										<td class="text-right">
											{{cf.getformat(item.quantityRecovery)}}<br />
											{{cf.getpctformat(item.rpct)}}
										</td>
										<td class="text-right">
											{{cf.getformat(item.quantityDisposal)}}<br />
											{{cf.getpctformat(item.dpct)}}
										</td>
										<td class="text-right">
											{{cf.getformat(item.quantityUnspec)}}<br />
											{{cf.getpctformat(item.upct)}}
										</td>
										<td class="text-right">{{cf.getformat(item.quantityTotal)}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					</tab> <tab heading="Confidentiality" active="active.confidentiality"
						ng-click="activateTab('confidentiality')">
					<div ng-show="searchResults">

						<div class="col-md-12 alert alert-warning top-buffer10"
							ng-if="!hasConfidentionalData">
							<strong>{{tr_con.NoConfidentialityInformation}}</strong>
						</div>

						<div class="top-buffer10" ng-if="hasConfidentionalData">
							<div class="col-md-12 top-buffer10">
								<label class="radio-inline"><input type="radio"
									name="showConfidentialOptionsRadios"
									id="showConfidentialOptionsRadios_0" value="polRelease"
									ng-model="showConfidential" ng-click="showresult('polRelease')">{{tr_c.ContentPollutantReleases}}</label>
								<label class="radio-inline"><input type="radio"
									name="showConfidentialOptionsRadios"
									id="showConfidentialOptionsRadios_1" value="polTransfer"
									ng-model="showConfidential"
									ng-click="showresult('polTransfer')">{{tr_c.ContentPollutantTransfers}}</label>
								<label class="radio-inline"><input type="radio"
									name="showConfidentialOptionsRadios"
									id="showConfidentialOptionsRadios_2" value="wasteTransfer"
									ng-model="showConfidential"
									ng-click="showresult('wasteTransfer')">{{tr_c.ContentWastetransfers}}</label>
							</div>
							<div class="top-buffer10" ng-if="showConfidential==='polRelease'"
								ng-bind-html="tr_p.ConfReleaseDesc"></div>
							<div class="top-buffer10"
								ng-if="showConfidential==='polTransfer'"
								ng-bind-html="tr_p.ConfTransfersDesc"></div>
							<div class="top-buffer10"
								ng-if="showConfidential==='wasteTransfer'"
								ng-bind-html="tr_wt.ConfWasteDesc"></div>

							<div class="col-md-12 table-responsive top-buffer10">
								<table ng-if="showConfidential==='polRelease'"
									class="table table-striped table-condensed table-hover">
									<thead>
										<tr>
											<th>{{tr_c.PollutantGroup}}</th>
											<th></th>
											<th class="text-right">{{tr_f.FacilitiesAir}}</th>
											<th class="text-right">{{tr_f.FacilitiesWater}}</th>
											<th class="text-right">{{tr_f.FacilitiesSoil}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in itemCon">
											<td>{{tr_lpo[item.pollutantGroupCode]}}</td>
											<td>{{tr_c.FacilitiesClaimingConfidentiality}}</td>
											<td class="text-right">{{item.aircount}}</td>
											<td class="text-right">{{item.watercount}}</td>
											<td class="text-right">{{item.soilcount}}</td>
										</tr>
									</tbody>
								</table>
								<table ng-if="showConfidential==='polTransfer'"
									class="table table-striped table-condensed table-hover">
									<thead>
										<tr>
											<th>{{tr_c.PollutantGroup}}</th>
											<th></th>
											<th class="text-right">{{tr_f.Facilities}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in itemCon">
											<td>{{tr_lpo[item.pollutantGroupCode]}}</td>
											<td>{{tr_c.FacilitiesClaimingConfidentiality}}</td>
											<td class="text-right">{{item.count}}</td>
										</tr>
									</tbody>
								</table>
								<table ng-if="showConfidential==='wasteTransfer'"
									class="table table-striped table-condensed table-hover">
									<thead>
										<tr>
											<th></th>
											<th class="text-right">Non
												hazardous&nbsp;{{tr_f.Facilities}}</th>
											<th class="text-right">{{tr_lovwt.HWIC}}&nbsp;{{tr_f.Facilities}}</th>
											<th class="text-right">{{tr_lovwt.HWOC}}&nbsp;{{tr_f.Facilities}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in itemCon">
											<td>{{tr_wt.WasteTransfersConfidentiality}}</td>
											<td class="text-right">{{item.countNONHW}}</td>
											<td class="text-right">{{item.countHWIC}}</td>
											<td class="text-right">{{item.countHWOC}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="top-buffer10"
								ng-bind-html="tr_p.ConfidentialityReason"></div>
							<div class="col-md-12 table-responsive top-buffer10">
								<table ng-if="showConfidential==='polRelease'"
									class="table table-striped table-condensed table-hover">
									<thead>
										<tr>
											<th>{{tr_c.PollutantGroup}}</th>
											<th>{{tr_c.Reason}}</th>
											<th class="text-right">{{tr_f.FacilitiesAir}}</th>
											<th class="text-right">{{tr_f.FacilitiesWater}}</th>
											<th class="text-right">{{tr_f.FacilitiesSoil}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in itemConReason">
											<td>{{tr_lpo[item.pollutantGroupCode]}}</td>
											<td>{{tr_lcon[item.reason]}}</td>
											<td class="text-right">{{item.aircount}}</td>
											<td class="text-right">{{item.watercount}}</td>
											<td class="text-right">{{item.soilcount}}</td>
										</tr>
									</tbody>
								</table>
								<table ng-if="showConfidential==='polTransfer'"
									class="table table-striped table-condensed table-hover">
									<thead>
										<tr>
											<th>{{tr_c.PollutantGroup}}</th>
											<th>{{tr_c.Reason}}</th>
											<th class="text-right">{{tr_f.Facilities}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in itemConReason">
											<td>{{tr_lpo[item.pollutantGroupCode]}}</td>
											<td>{{tr_lcon[item.reason]}}</td>
											<td class="text-right">{{item.count}}</td>
										</tr>
									</tbody>
								</table>
								<table ng-if="showConfidential==='wasteTransfer'"
									class="table table-striped table-condensed table-hover">
									<thead>
										<tr>
											<th>{{tr_c.WasteType}}</th>
											<th>{{tr_c.Reason}}</th>
											<th class="text-right">{{tr_f.Facilities}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in itemConReason | orderBy: 'wastetype'">
											<td>{{tr_lovwt[item.wastetype]}}</td>
											<td>{{tr_lcon[item.reason]}}</td>
											<td class="text-right">{{item.count}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					</tab> </tabset>
				</div>
			</div>
		</div>
	</div>
</div>