<div >

    <div>
        <h3>{{tr_ao.Headline}}</h3>
        <p>{{tr_ao.SubHeadline}}</p>
    </div>

	<div class="row row-map">

		<div class="search_form col-md-3">

			<div class="panel panel-info">
				<div class="panel-heading">Search</div>
				<div class="panel-body">
					<div id="searchbtn" style="height:35px;">
                	<div class="btn-group pull-right">
                        <input type="submit" value="Search >>" ng-click="search()" class="btn btn-success" />
                    </div>
                    </div>
					<div search-placement>	</div>		
				</div>
			</div>
			
		</div>
		
		<div class="col-md-6">
 		   <div  ng-hide="(hasConfidentionalData? false: true)">
      <blockquote>
      	<small><a class="text-danger" ng-click="activateTab('confidentiality')" ><i class="fa fa-exclamation-triangle"></i>  {{tr_f.ConfidentialityAlertLink}}</a></small>
      </blockquote>
   </div>
		      <div class="col-md-12 top-buffer10" ng-if="beforesearch">
			<div class="alert alert-success"><strong>{{tr_c.SearchText}}</strong></div>
      </div>
		
		  <tabset>
			    <tab heading="Pollutant Releases" active="active.pollutantrelease" ng-click="activateTab('pollutantrelease')">
					<div id="area_overview_pollutant_releases" ng-show="searchResults">
					
					<div class="col-md-2 top-buffer10" >
	              <table >
					  <tr ng-repeat="x in headitms | orderBy : 'order'" >
					    <td class="{{x.clss}}">{{ x.title }}:</td>
					    <td>{{ x.val }}</td>
					  </tr>
	  			  </table>
			      </div>
				<div class="col-md-3 top-buffer10" >
			      <blockquote>
						<div class="text-info"><small>{{tr_wt.AllValuesAreYearlyTransfers}}</small></div>
			      </blockquote>
			      </div>
				  <div class="col-md-6 top-buffer10" >
				      <div class="top-buffer10" id="prPollutantGroup" sf-pollutant queryparams="queryParams" pgselect="prfilter.pgselect" pselect="prfilter.pselect" grponly="true" ></div>
				      <div class="top-buffer10" id="prMediumSelector" pr-selector queryparams="queryParams" medium="prMedium" ></div>
				  </div>
				  <div class="col-md-1 top-buffer10 ">
				  	<button class="print-button btn btn-default pull-right" ng-print print-element-id="area_overview_pollutant_releases"><i class="fa fa-print"></i></button>
				  </div>			      
			      <div class="col-md-12 top-buffer10" ng-if="!prfilter.pgselect.code">
						<div class="alert alert-success"><strong>You need to select a Pollutant Group</strong></div>
			      </div>
			      <div class="col-md-12">
				  <area-overview-pr-tab queryparams="queryParams" visible="true" pollutant="prfilter.pgselect" medium="prMedium" />
			    	<!-- active.pollutanttransfer != undefined  /div -->
			    	 
			    	</div>
  				</div>
			</tab>
			    <tab heading="Pollutant Transfer"  active="active.pollutanttransfer" ng-click="activateTab('pollutanttransfer')">
					<div class="area_overview_pollutant_transfer" ng-show="searchResults">
					<div class="col-md-2 top-buffer10" ng-show="searchResults">
	              <table >
					  <tr ng-repeat="x in headitms | orderBy : 'order'" >
					    <td class="{{x.clss}}">{{ x.title }}:</td>
					    <td>{{ x.val }}</td>
					  </tr>
	  			  </table>
			      </div>
					<div class="col-md-4 top-buffer10" ng-show="searchResults">
			      <blockquote >
						<div class="text-info"><small>{{tr_wt.AllValuesAreYearlyTransfers}}</small></div>
			      </blockquote>
			      </div>
			      <div class="col-md-4 top-buffer10"  id="ptPollutantGroup" sf-pollutant queryparams="queryParams" pgselect="ptfilter.pgselect" grponly="true" ></div>
			      <div class="col-md-2 top-buffer10 ">
				  	<button class="print-button btn btn-default pull-right" ng-print print-element-id="area_overview_pollutant_transfer"><i class="fa fa-print"></i></button>
				  </div>
			      
			      <div class="col-md-12 top-buffer10" ng-if="!prfilter.pgselect.code">
						<div class="alert alert-success"><strong>You need to select a Pollutant Group</strong></div>
			      </div>			      
			      <div class="col-md-12">
				  <area-overview-pt-tab queryparams="queryParams" visible="true" pollutant="ptfilter.pgselect" />
			    	<!-- active.pollutanttransfer != undefined  /div -->
			    	</div>
			    	</div>
			    </tab>
			    <tab  heading="Waste Transfer"  active="active.wastetransfer" ng-click="activateTab('wastetransfer')">
	              <div id="area_overview_waste_transfer" ng-show="searchResults">
	              <div class="col-md-2 top-buffer10">
	              <table class="top-buffer10">
					  <tr ng-repeat="x in headitms | orderBy : 'order'" >
					    <td class="{{x.clss}}">{{ x.title }}:</td>
					    <td>{{ x.val }}</td>
					  </tr>
	  			  </table>
			      </div>
	              <div class="col-md-4 top-buffer10" ng-show="searchResults">
			      <blockquote>
						<div class="text-info"><small>{{tr_wt.AllValuesAreYearlyTransfers}}</small></div>
			      </blockquote>
			      </div>
			      <div class="col-md-6 top-buffer10 ">
				  	<button class="print-button btn btn-default pull-right" ng-print print-element-id="area_overview_waste_transfer"><i class="fa fa-print"></i></button>
				  </div>
			      
			      <div class="col-md-12">
				  <area-overview-waste-tab queryparams="queryParams" visible="active.wastetransfer != undefined" />
				  </div>
				  </div>
			    </tab>

<tab heading="Confidentiality" active="active.confidentiality" ng-click="activateTab('confidentiality')">
                <div class="col-md-12 alert alert-warning top-buffer10" ng-if="!hasConfidentionalData" ><strong>{{tr_lcon.NoConfidentialityInformation}}</strong></div>
                <div class="top-buffer10" ng-if="hasConfidentionalData">
	                <div ng-bind-html="tr_ao.ConfidentialityExplanation"></div>
				</div>
			</tab>

			  </tabset>
			
			</div>
					         
		<div class="col-md-3" style="height:600px;">
            <esri-leaf-map contenttype="'pollutantrelease'" queryparams="queryParams" />
        </div>
	</div> 
</div> 
