<div >

	<div>        
		<h3>{{tr_ao.Headline}}</h3>
	</div>
	<div class="row">
    <div class="col-md-12">

        <p>{{tr_ao.Subheadline}}</p>
    
	</div>

	</div>

	<div class="row row-map">

		<div class="search_form col-md-3">

			<div class="panel panel-info">
				<div class="panel-heading">Search</div>
				<div class="panel-body">
					<div id="searchbtn" style="height:35px;">
                	<div class="btn-group pull-right">
                        <input type="submit" value="Search >>" ng-click="search()" class="btn btn-success" />
                    </div>
                    </div>
					<div search-placement>	</div>		
				</div>
			</div>
			
		</div>
		<div class="col-md-9 minor-padding">
		
		<div class="{{mapclss}}"  ng-style="{height: mapheight}" style="position:relative;min-height: 410px;">
            <button type="button" ng-click="togglemapview()" title="{{maptooltip}}"
				class="btn btn-default pull-right" style="position:absolute; right:5px; margin:5px;z-index:110;" >
				<span class="{{resize_icon}}" aria-hidden="true"></span>
			</button><esri-leaf-map contenttype="'pollutantrelease'" queryparams="queryParams" control="mapctrl"/>
			<div class="map-overlay">
				Tab on the map to start using it
			</div>
        </div>
		
		<div class="{{resclss}}">
 		   <div  ng-hide="(hasConfidentionalData? false: true)">
      <blockquote>
      	<small><a class="text-danger" ng-click="activateTab('confidentiality')" ><i class="fa fa-exclamation-triangle"></i>  {{tr_f.ConfidentialityAlertLink}}</a></small>
      </blockquote>
   </div>
		      <div class="col-md-12 top-buffer10" ng-if="beforesearch">
			<div class="alert alert-success"><strong>{{tr_c.SearchText}}</strong></div>
      </div>
		
		  <tabset>
			    <tab heading="Pollutant Releases" active="active.pollutantrelease" ng-click="activateTab('pollutantrelease')">
					<div id="area_overview_pollutant_releases" ng-show="searchResults">
					<div class="row">
					<div class="col-md-4 top-buffer10" >
	              <table >
					  <tr ng-repeat="x in headitms | orderBy : 'order'" >
					    <td class="{{x.clss}}">{{ x.title }}:</td>
					    <td>{{ x.val }}</td>
					  </tr>
	  			  </table>
			      </div>
				<div class="col-md-4 top-buffer10" >
			      <blockquote>
						<div class="text-info"><small>{{tr_wt.AllValuesAreYearlyReleases}}</small></div>
			      </blockquote>
			      </div>
				  
				  <div class="col-md-4 top-buffer10 pull-right">
				  	<button class="print-button btn btn-default pull-right" ng-print print-element-id="area_overview_pollutant_releases"><i class="fa fa-print"></i></button>
				  	<button class="btn btn-default pull-right"ng-click="downloadClick('pollutantRelease')"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></button>
				  </div>
				  </div>
				  
				  <div class="col-md-6 top-buffer10" >
				      <div class="top-buffer10" id="prPollutantGroup" sf-pollutant queryparams="queryParams" pgselect="prfilter.pgselect" pselect="prfilter.pselect" grponly="true" ></div>
				  </div>
				  <div class="col-md-6 top-buffer10 pull-right">
				 	<div class="top-buffer10" id="prMediumSelector" pr-selector queryparams="queryParams" medium="prMedium" ></div>
				  </div>
				  
				  </div>	      
			      <div class="col-md-12" ng-show="!beforesearch">
				  <area-overview-pr-tab queryparams="queryParams" visible="!beforesearch" pollutant="prfilter.pgselect" medium="prMedium" resultlist="pritems.data" pttotal="pritems.pttotal" headeritems="prHeaderItems.data" />
			    	<!-- active.pollutanttransfer != undefined  /div -->
			    	 
			    	</div>
  				
			</tab>
			    <tab heading="Pollutant Transfer"  active="active.pollutanttransfer" ng-click="activateTab('pollutanttransfer')">
					<div id="area_overview_pollutant_transfer">
				<div ng-show="searchResults">

					<div class="row">
						<div class="col-md-4 top-buffer10" ng-show="searchResults">
							<table>
								<tr ng-repeat="x in headitms | orderBy : 'order'">
									<td class="{{x.clss}}">{{ x.title }}:</td>
									<td>{{ x.val }}</td>
								</tr>
							</table>
						</div>
						<div class="col-md-4 top-buffer10" ng-show="searchResults">
							<blockquote>
								<div class="text-info">
									<small>{{tr_wt.AllValuesAreYearlyTransfers}}</small>
								</div>
							</blockquote>
						</div>
						<div class="col-md-4 top-buffer10 ">
							<button class="print-button btn btn-default pull-right" ng-print
								print-element-id="area_overview_pollutant_transfer">
								<i class="fa fa-print"></i>
							</button>
							<button class="btn btn-default pull-right"
								ng-click="downloadClick('pollutantTransfer')">
								<span class="glyphicon glyphicon-download-alt"
									aria-hidden="true"></span>
							</button>
						</div>
					</div>
					<div class="col-md-6 top-buffer10" id="ptPollutantGroup"
							sf-pollutant queryparams="queryParams"
							pgselect="ptfilter.pgselect" grponly="true">
					</div>
				</div>

				<div class="col-md-12" ng-show="!beforesearch">
				  <area-overview-pt-tab queryparams="queryParams" visible="!beforesearch" pollutant="ptfilter.pgselect" resultlist="ptitems.data" headeritems="ptHeaderItems.data" pttotal="ptitems.pttotal" />
			    	<!-- active.pollutanttransfer != undefined  /div -->
			    	</div>
			    	</div>
			    </tab>
			    <tab  heading="Waste Transfer"  active="active.wastetransfer" ng-click="activateTab('wastetransfer')">
	              <div id="area_overview_waste_transfer">
	              <div  ng-show="searchResults">
	              <div class="col-md-4 top-buffer10">
	              <table class="top-buffer10">
					  <tr ng-repeat="x in headitms | orderBy : 'order'" >
					    <td class="{{x.clss}}">{{ x.title }}:</td>
					    <td>{{ x.val }}</td>
					  </tr>
	  			  </table>
			      </div>
	              <div class="col-md-4 top-buffer10" ng-show="searchResults">
			      <blockquote>
						<div class="text-info"><small>{{tr_wt.AllValuesAreYearlyTransfers}}</small></div>
			      </blockquote>
			      </div>
			      <div class="col-md-4 top-buffer10 pull-right">
				  	<button class="print-button btn btn-default pull-right" ng-print print-element-id="area_overview_waste_transfer"><i class="fa fa-print"></i></button>
				  	<button class="btn btn-default pull-right"ng-click="downloadClick('wasteTransfer')"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></button>
				  </div>
				  </div>
			      
			      <div class="col-md-12" ng-show="!beforesearch">
				  <area-overview-waste-tab queryparams="queryParams" resultlist="wasteTransferItems.data"/>
				  </div>
				  </div>
			    </tab>

<tab heading="Confidentiality" active="active.confidentiality" ng-click="activateTab('confidentiality')">
                <div class="col-md-12 alert alert-warning top-buffer10" ng-if="!hasConfidentionalData" ><strong>{{tr_lcon.NoConfidentialityInformation}}</strong></div>
                <div class="top-buffer10" ng-if="hasConfidentionalData">
	                <div ng-bind-html="tr_ao.ConfidentialityExplanation"></div>
				</div>
			</tab>

			  </tabset>
			
			</div>
					         
		
        </div>
	</div> 
</div> 
