<div>

    <div>
    	<h3>{{tr_wt.WasteTransfers}}</h3>
        <p>{{tr_wt.WasteTransferSubHeadline}}</p>
    </div>

    <div class="row row-map">

        <div class="search_form col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">Search</div>
                <div class="panel-body">
				<div id="searchbtn" style="height:35px;">
                	<div class="btn-group pull-right">
                        <input type="submit" value="Search >>" ng-click="search()" class="btn btn-success" />
                    </div>                    </div>
                    
                    <div search-placement>
                    </div>

                    <accordion close-others="{{false}}">
                        <div waste-search-filter-directive>
                        </div>
                        <div activity-search-filter-directive>
                        </div>
                    </accordion>
                </div>

            </div>

        </div>

	<div class="search_form col-md-6">
        <tabset>
            <tab heading="Summary" ng-click="getTabData('SUMMARY')">
            <div ng-show="searchResults">
           		 <div>
				<h3>{{tr_wt.WasteTransferSummery}}</h3>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Year}}:
       			</div>
       			<div class="col-md-1">
       			{{queryParams.ReportingYear}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Area}}:
       			</div>
       			<div class="col-md-3">
       			{{currentSearchFilter.selectedReportingCountry.name}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Facilities}}:
       			</div>
       			<div class="col-md-1">
       			{{getTypeCount(summaryItems)}}
       			</div>
			</div>
			<br />
			{{tr_wt.AllValuesAreYearlyTransfers}}
			<br/>
			<div class="row">
			<div class="col-md-6">
				<div google-chart chart="summaryChartObject2" style="height:400px; width:100%;">
	            </div> 
            </div>
	         <div class="col-md-6">
	            <div google-chart chart="summaryChartObject1" style="height:400px; width:100%;">
	            </div>
	         </div>
            </div>
            </table>
			<br />
			<table class="table table-striped table-condensed table-hover">
                   <thead>
                   <tr>
                   <th>{{tr_wt.WasteTransfers}}</th>
                   <th>{{tr_c.Facilities}}</th>
                   <th>{{tr_wt.Recovery}}</th>
                   <th>{{tr_wt.Disposal}}</th>
                   <th>{{tr_wt.Unspecified}}</th>
                   <th>{{tr_c.TotalQuantity}}</th>
                   </tr>
                   </thead>
                    <tbody>
                     <tr ng-repeat="item in summaryItems">
                     <td>
                     <a href=""><img src="images/timeseries.png" class="timesericesImage" alt="" /></a>
                     {{item.wastetype}}
                     </td>
                     <td>
                     {{item.facilityCount}}
                     </td>
                     <td>
                     {{getformat(item.recovery)}}<br />
                     {{getpctformat(item.rpct)}}
                     </td>
                     <td>
                     {{getformat(item.disposal)}}<br />
                     {{getpctformat(item.dpct)}}
                     </td>
                     <td>
                     {{getformat(item.unspec)}}<br />
                     {{getpctformat(item.upct)}}
                     </td>
                     <td>{{getformat(item.total)}}</td>
                     </tr>
                   </tbody>
            </table>
            </div>
           	</tab>
           	
           	 <tab heading="Activities" ng-click="getTabData('Activities')">
           	 <div ng-show="searchResults">
           	 <div>
				<h3>{{tr_wt.WasteTransferActivities}}</h3>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Year}}:
       			</div>
       			<div class="col-md-1">
       			{{queryParams.ReportingYear}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Area}}:
       			</div>
       			<div class="col-md-3">
       			{{currentSearchFilter.selectedReportingCountry.name}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Facilities}}:
       			</div>
       			<div class="col-md-1">
       			{{getTotalCount("activities","facilityCount")}}
       			</div>
			</div>
			<br />
			{{tr_wt.AllValuesAreYearlyTransfers}}
			<br/>
			<table class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>{{tr_wt.TransferPerIndustrialActivity}}&nbsp;</th>
                         <th>{{tr_c.Facilities}}&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>{{tr_c.HazardousDomestic}}&nbsp;</th>
                        <th>{{tr_c.HazardousTransboundary}}&nbsp;</th>
                        <th>{{tr_c.HazardousTotal}}&nbsp;</th>
                        <th>{{tr_c.NonHazardousTotal}}&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Level1 -->
                    <tr ng-repeat-start="item in activities | orderBy: 'key'">
       				<td>
       				<a href=""><img src="images/timeseries.png" class="timesericesImage" alt="" /></a>
                        	<img class="handcursor" ng-click="showing=!showing" ng-show="!showing" src="images/plus.gif" />
                        	<img class="handcursor" ng-click="showing=!showing" ng-show="showing" src="images/minus.gif" />
                        	<a ng-click="showing=!showing">{{tr_laa[item.key]}}</a>         	
                     </td>
                     <td>
                     {{getTypeCount(item.data)}}
                     </td>
                    <td>
                    {{tr_c.Total}}<br />
                    {{tr_c.Recovery}}<br />
                    {{tr_c.Disposal}}<br />
                    {{tr_c.Unspec}}
                    </td>
                    <td>
                    {{getSum(item.data,"quantityTotalHWIC")}}<br />
                    {{getSum(item.data,"quantityRecoveryHWIC")}}<br/>
                    {{getSum(item.data,"quantityDisposalHWIC")}}<br/>
                    {{getSum(item.data,"quantityUnspecHWIC")}}
                    </td>
                    <td>
                    {{getSum(item.data,"quantityTotalHWOC")}}<br />
                    {{getSum(item.data,"quantityRecoveryHWOC")}}<br />
                    {{getSum(item.data,"quantityDisposalHWOC")}}<br />
                    {{getSum(item.data,"quantityUnspecHWOC")}}
                    </td>
                    <td>
                    {{getSum(item.data,"total")}}<br />
                    {{getSum(item.data,"recovery")}}<br />
                    {{getSum(item.data,"disposal")}}<br />
                    {{getSum(item.data,"unspec")}}
                    </td>
                    <td>
                    {{getSum(item.data,"quantityTotalNONHW")}}<br />
                    {{getSum(item.data,"quantityRecoveryNONHW")}}<br />
                    {{getSum(item.data,"quantityDisposalNONHW")}}<br />
                    {{getSum(item.data,"quantityUnspecNONHW")}}
                    </td>
                    </tr>
                    <!-- Level2 -->
                    <tr ng-show="showing" ng-repeat-start="level2 in item.data | orderBy: 'iaActivityCode'">
                    	<td>
                    	<a href=""><img src="images/timeseries.png" class="timesericesImage" alt="" /></a>
                    		<div class="innerlevel2">
                    		<img class="handcursor" ng-click="showing2=!showing2" ng-show="!showing2 && level2.sublevel" src="images/plus.gif" />
                        	<img class="handcursor" ng-click="showing2=!showing2" ng-show="showing2" src="images/minus.gif" /> 
                    		{{tr_laa[level2.iaActivityCode]}}
                    		</div>
                    	</td>
                   		<td>
                   		{{getTypeCount(level2)}}
                   		</td>
                       	<td>
                       	{{tr_c.Total}}<br />
                    	{{tr_c.Recovery}}<br />
                    	{{tr_c.Disposal}}<br />
                    	{{tr_c.Unspec}}
                       	</td>
                        <td>
	                    {{getSum(level2,"quantityTotalHWIC")}}<br />
	                    {{getSum(level2,"quantityRecoveryHWIC")}}<br/>
	                    {{getSum(level2,"quantityDisposalHWIC")}}<br/>
	                    {{getSum(level2,"quantityUnspecHWIC")}}
	                    </td>
	                    <td>
	                    {{getSum(level2,"quantityTotalHWOC")}}<br />
	                    {{getSum(level2,"quantityRecoveryHWOC")}}<br />
	                    {{getSum(level2,"quantityDisposalHWOC")}}<br />
	                    {{getSum(level2,"quantityUnspecHWOC")}}
	                    </td>
	                    <td>
	                    {{getSum(level2,"total")}}<br />
	                    {{getSum(level2,"recovery")}}<br />
	                    {{getSum(level2,"disposal")}}<br />
	                    {{getSum(level2,"unspec")}}
	                    </td>
	                    <td>
	                    {{getSum(level2,"quantityTotalNONHW")}}<br />
	                    {{getSum(level2,"quantityRecoveryNONHW")}}<br />
	                    {{getSum(level2,"quantityDisposalNONHW")}}<br />
	                    {{getSum(level2,"quantityUnspecNONHW")}}
	                    </td>  	
                   	</tr>
                    <!-- Level3 -->
                    <tr ng-show="showing2 && showing" ng-repeat-start="level3 in level2.sublevel | orderBy: 'iaSubActivityCode'">
                    	<td>
                    		<div class="innerlevel3"> 
                    		{{tr_laa[level3.iaSubActivityCode]}}
                    		</div>
                    	</td>
                   		<td>
                   		{{getTypeCount(level3)}}
                  		</td>
                     	<td>
                       	{{tr_c.Total}}<br />
                    	{{tr_c.Recovery}}<br />
                    	{{tr_c.Disposal}}<br />
                    	{{tr_c.Unspec}}
                       	</td>
                        <td>
	                    {{getSum(level3,"quantityTotalHWIC")}}<br />
	                    {{getSum(level3,"quantityRecoveryHWIC")}}<br/>
	                    {{getSum(level3,"quantityDisposalHWIC")}}<br/>
	                    {{getSum(level3,"quantityUnspecHWIC")}}
	                    </td>
	                    <td>
	                    {{getSum(level3,"quantityTotalHWOC")}}<br />
	                    {{getSum(level3,"quantityRecoveryHWOC")}}<br />
	                    {{getSum(level3,"quantityDisposalHWOC")}}<br />
	                    {{getSum(level3,"quantityUnspecHWOC")}}
	                    </td>
	                    <td>
	                    {{getSum(level3,"total")}}<br />
	                    {{getSum(level3,"recovery")}}<br />
	                    {{getSum(level3,"disposal")}}<br />
	                    {{getSum(level3,"unspec")}}
	                    </td>
	                    <td>
	                    {{getSum(level3,"quantityTotalNONHW")}}<br />
	                    {{getSum(level3,"quantityRecoveryNONHW")}}<br />
	                    {{getSum(level3,"quantityDisposalNONHW")}}<br />
	                    {{getSum(level3,"quantityUnspecNONHW")}}
	                    </td>  
                    </tr>
                    <tr ng-repeat-end></tr>
                    <tr ng-repeat-end ng-hide="true"></tr>       
                    <tr ng-if="$last">
                    	<td>
                    	<a href="">
                    	<img src="images/timeseries.png" class="timesericesImage" alt="" />
                    	</a>
                    	{{tr_c.Total}}
                    	</td>
                    	<td>
                    	{{totalactivitiesfac}}
                   		</td>
                   		<td>
                   		{{tr_c.Total}}<br />
                    	{{tr_c.Recovery}}<br />
                    	{{tr_c.Disposal}}<br />
                    	{{tr_c.Unspec}}
                   		</td>
                        <td>
                        {{totaltHWIC}}<br />
                        {{totalrHWIC}}<br />
                        {{totaldHWIC}}<br />
                        {{totaluHWIC}}
                        </td>
                        <td>
                        {{totaltHWOC}}<br />
                        {{totalrHWOC}}<br />
                        {{totaldHWOC}}<br />
                        {{totaluHWOC}}
                   		</td>
                   		<td>
                   		{{totalthaz}}<br />
                   		{{totalrhaz}}<br />
                   		{{totaldhaz}}<br />
                   		{{totaluhaz}}
                   		</td>
                        <td>
                        {{totaltNONHW}}<br />
                        {{totalrNONHW}}<br />
                        {{totaldNONHW}}<br />
                        {{totaluNONHW}}
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-hide="true"></tr>
                    </tbody>
                </table>
                </div>
           	</tab>
           	  	
           	<tab heading="Areas" ng-click="getTabData('areas')">
           	<div ng-show="searchResults">
           	   <div>
				<h3>{{tr_wt.WasteTransferAreas}}</h3>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Year}}:
       			</div>
       			<div class="col-md-1">
       			{{queryParams.ReportingYear}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Area}}:
       			</div>
       			<div class="col-md-3">
       			{{currentSearchFilter.selectedReportingCountry.name}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Facilities}}:
       			</div>
       			<div class="col-md-1">
       			{{getTotalCount("areas","facilityCount")}}
       			</div>
			</div>
			
			<br />
			{{tr_wt.AllValuesAreYearlyTransfers}}
			<br/>

			 <table class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                     	<th>{{tr_wt.TransferPerCountry}}&nbsp;</th>
                         <th>{{tr_c.Facilities}}&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>{{tr_c.HazardousDomestic}}&nbsp;</th>
                        <th>{{tr_c.HazardousTransboundary}}&nbsp;</th>
                        <th>{{tr_c.HazardousTotal}}&nbsp;</th>
                         <th>{{tr_c.NonHazardousTotal}}&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    <!-- First level -->
                    <tr ng-repeat-start="item in areas" >
                        <td>
                        <a href=""><img src="images/timeseries.png" class="timesericesImage" alt="" /></a>
                        <img class="handcursor" ng-click="showing=!showing" ng-show="!showing" src="images/plus.gif" />
                        <img class="handcursor" ng-click="showing=!showing" ng-show="showing" src="images/minus.gif" />
                        <a ng-click="showing=!showing">{{tr_lco[item.key]}}</a>
                        </td>            
                        <td>
                       	{{getTypeCount(item.data)}}
                        </td>
                        <td>
                        {{tr_c.Total}}<br />
                    	{{tr_c.Recovery}}<br />
                    	{{tr_c.Disposal}}<br />
                    	{{tr_c.Unspec}}
                        </td>
                        <td>
	                    {{getSum(item.data,"quantityTotalHWIC")}}<br />
	                    {{getSum(item.data,"quantityRecoveryHWIC")}}<br/>
	                    {{getSum(item.data,"quantityDisposalHWIC")}}<br/>
	                    {{getSum(item.data,"quantityUnspecHWIC")}}
	                    </td>
	                    <td>
	                    {{getSum(item.data,"quantityTotalHWOC")}}<br />
	                    {{getSum(item.data,"quantityRecoveryHWOC")}}<br />
	                    {{getSum(item.data,"quantityDisposalHWOC")}}<br />
	                    {{getSum(item.data,"quantityUnspecHWOC")}}
	                    </td>
	                    <td>
	                    {{getSum(item.data,"total")}}<br />
	                    {{getSum(item.data,"recovery")}}<br />
	                    {{getSum(item.data,"disposal")}}<br />
	                    {{getSum(item.data,"unspec")}}
	                    </td>
	                    <td>
	                    {{getSum(item.data,"quantityTotalNONHW")}}<br />
	                    {{getSum(item.data,"quantityRecoveryNONHW")}}<br />
	                    {{getSum(item.data,"quantityDisposalNONHW")}}<br />
	                    {{getSum(item.data,"quantityUnspecNONHW")}}
	                    </td>  
                    </tr>
                    
                    <!-- Second level -->
                    <tr ng-show="showing" ng-repeat-start="item2 in item.data">
                        	        	
                        	<td ng-if="regionSearch">
                        	<a href="">
                        		<img src="images/timeseries.png" class="timesericesImage" alt="" />
                        		</a>
                        		<div class="innerlevel2">
                        		{{tr_lnr[item2.nutslevel2RegionCode]}}
                        		</div>
                        	</td>
                        	<td ng-if="!regionSearch">
                        		<a href="">
                        		<img src="images/timeseries.png" class="timesericesImage" alt="" />
                        		</a>
                        		<div class="innerlevel2">
                        		{{tr_lrbd[item2.riverBasinDistrictCode]}}
                        		</div>
                        	</td>        
                        	<td>
                        	 {{getTypeCount(item2)}}
                        	</td>
                         	<td>
	                        {{tr_c.Total}}<br />
	                    	{{tr_c.Recovery}}<br />
	                    	{{tr_c.Disposal}}<br />
	                    	{{tr_c.Unspec}}
	                        </td>
	                             <td>
	                    {{getSum(item2,"quantityTotalHWIC")}}<br />
	                    {{getSum(item2,"quantityRecoveryHWIC")}}<br/>
	                    {{getSum(item2,"quantityDisposalHWIC")}}<br/>
	                    {{getSum(item2,"quantityUnspecHWIC")}}
	                    </td>
	                    <td>
	                    {{getSum(item2,"quantityTotalHWOC")}}<br />
	                    {{getSum(item2,"quantityRecoveryHWOC")}}<br />
	                    {{getSum(item2,"quantityDisposalHWOC")}}<br />
	                    {{getSum(item2,"quantityUnspecHWOC")}}
	                    </td>
	                    <td>
	                    {{getSum(item2,"total")}}<br />
	                    {{getSum(item2,"recovery")}}<br />
	                    {{getSum(item2,"disposal")}}<br />
	                    {{getSum(item2,"unspec")}}
	                    </td>
	                    <td>
	                    {{getSum(item2,"quantityTotalNONHW")}}<br />
	                    {{getSum(item2,"quantityRecoveryNONHW")}}<br />
	                    {{getSum(item2,"quantityDisposalNONHW")}}<br />
	                    {{getSum(item2,"quantityUnspecNONHW")}}
	                    </td>  
                    </tr>                
                    <tr ng-repeat-end></tr>
                       <tr ng-if="$last">
                    	<td>
                    	<a href=""><img src="images/timeseries.png" class="timesericesImage" alt="" /></a>
                    		{{tr_c.Total}}
                    	</td>
                    	<td>
                    	{{totalareasfac}}
                   		</td>
                   	    <td>
	                        {{tr_c.Total}}<br />
	                    	{{tr_c.Recovery}}<br />
	                    	{{tr_c.Disposal}}<br />
	                    	{{tr_c.Unspec}}
	                    </td>
                         <td>
                        {{totalareastHWIC}}<br />
                        {{totalareasrHWIC}}<br />
                        {{totalareasdHWIC}}<br />
                        {{totalareasuHWIC}}
                        </td>
                        <td>
                        {{totalareastHWOC}}<br />
                        {{totalareasrHWOC}}<br />
                        {{totalareasdHWOC}}<br />
                        {{totalareasuHWOC}}
                   		</td>
                   		<td>
                   		{{totalareasthaz}}<br />
                   		{{totalareasrhaz}}<br />
                   		{{totalareasdhaz}}<br />
                   		{{totalareasuhaz}}
                   		</td>
                        <td>
                        {{totalareastNONHW}}<br />
                        {{totalareasrNONHW}}<br />
                        {{totalareasdNONHW}}<br />
                        {{totalareasuNONHW}}
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-hide="true"></tr>
                    </tbody>
                </table>
                </div>
           	</tab>
           	       	
           	<tab heading="Area Comparison" ng-click="getTabData('AREACOMPARISON')">
           	<div ng-show="searchResults">
           	</div>
           	</tab>
           	  <tab heading="Facilities" ng-click="getTabData('FACILITIES')">
           	  <div ng-show="searchResults">
           	  </div>
           	</tab>
           	  <tab heading="Haz. transboundary" ng-click="getTabData('HAZTRANSBOUNDARY')">
           	  <div ng-show="searchResults">
           	  </div>
           	</tab>
           	 <tab heading="Haz. receivers" ng-click="getTabData('HAZRECEIVERS')">
           	 <div ng-show="searchResults">
           	 </div>
           	</tab>
           	<tab heading="Confidentiality" ng-click="getTabData('CONFIDENTIALITY')">
           	<div ng-show="searchResults">
           	</div>
           	</tab>
        </tabset>
     </div>

        <div class="col-md-3" style="height:600px;">
            <esri-leaf-map contenttype="'wastetransfer'" queryparams="queryParams" />
        </div>

    </div>
</div>
