<div>

    <div>
        <p>This report will display the aggregated waste transfers within and outside the country.</p>
    </div>

    <div class="row row-map">

        <div class="search_form col-md-6">

            <div class="panel panel-info">
                <div class="panel-heading">Search</div>
                <div class="panel-body">

                    <div search-placement>
                    </div>

                    <accordion close-others="{{false}}">
                        <div waste-search-filter-directive>
                        </div>
                        <div activity-search-filter-directive>
                        </div>
                    </accordion>

                    <div>
                        <input type="submit" value="Search" ng-click="search()" class="btn btn-default">
                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-6" style="height:400px;">
            <esri-leaf-map queryparams="queryParams" />
        </div>

    </div>

</div>
