<div class="container-fluid">
  <div class="row">
	<!-- Left panel master-->
	<div class="col-md-12">
		<!-- Left panel welcome-->
			<h3>{{de.DiffuseSourcesAirPageHeader}}</h3>
			<div ng-bind-html="de.aSubheadline"></div>
</div>
<p>&nbsp;</p>
</div>

 <div class="row">
        <div class="search_form col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">Search</div>
                <div class="panel-body">
                    <div search-air-emission></div>
                </div>
            </div>
        </div>
<div class="col-md-9 minor-padding">
<div class="{{mapclss}}" ng-style="{height: mapheight}">
            <button type="button" ng-click="togglemapview()" title="{{maptooltip}}"
				class="btn btn-default pull-right" style="position:absolute; right:5px; margin:5px;z-index:110;" >
				<span class="{{resize_icon}}" aria-hidden="true"></span>
			</button><emission-map-air layerid="searchFilter.selectedLayer" control="mapctrl"/>
   			</div>

 <div class="{{resclss}}">
		<small><h4>{{title}}</h4></small>
		  <tabset>
            <tab heading="{{de.GeneralInfo}}" active="active.generalinfo" ng-click="activateTab('generalinfo')">
	<div ng-show="searchResults">
	<div ng-bind-html="generalinfo"></div>
		</div>
		</tab>
            <tab heading="{{de.Methodology}}" active="active.methodology" ng-click="activateTab('methodology')">
	<div ng-show="searchResults">
	<div ng-bind-html="methodology"></div>
		</div>
		</tab>
            <tab heading="{{de.SourceData}}" active="active.sourcedata" ng-click="activateTab('sourcedata')">
	<div ng-show="searchResults">
	<div ng-bind-html="sourcedata"></div>
		</div>
		</tab>
</tabset>		
</div>

</div>   		
	</div>
  </div>
