<div>
    <div>
        <p>This report will display the aggregated releases of a specific pollutant.</p>
    </div>

    <div class="row row-map">
        <div class="search_form col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Search</div>
                <div class="panel-body">
                    <div search-placement>
                    </div>
                    <accordion close-others="{{false}}">
                        <div pollutant-search-filter-directive>
                        </div>
                        <div activity-search-filter-directive>
                        </div>
                    </accordion>
                    <div>
                        <input type="submit" value="Search" ng-click="search()" class="btn btn-default">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="height:400px;">
            <esri-leaf-map queryparams="queryParams" />
        </div>
    </div>

    <div ng-show="searchResults">
        <tabset>
            <tab heading="Summary">
                <br/>
                Show facilities releasing to
                <label class="radio-inline"><input type="radio" name="summaryMediumTypeOptionsRadios" id="summaryMediumTypeOptionsRadios_0" value="Air" ng-model="$parent.mediumTypeSummary"> Air ({{quantityAir}} facilities)</label>
                <label class="radio-inline"><input type="radio" name="summaryMediumTypeOptionsRadios" id="summaryMediumTypeOptionsRadios_1" value="Water" ng-model="$parent.mediumTypeSummary"> Water ({{quantityWater}} facilities)</label>
                <label class="radio-inline"><input type="radio" name="summaryMediumTypeOptionsRadios" id="summaryMediumTypeOptionsRadios_2" value="Soil" ng-model="$parent.mediumTypeSummary"> Soil ({{quantitySoil}} facilities)</label>
                <br/>
                <div google-chart chart="summaryChartObject" style="height:600px; width:100%;">
                </div>
            </tab>
            <tab heading="Activities">
			<div>
				<h3>{{tr_c.PollutantReleases}}</h3>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Pollutant}}:</div>
       			<div class="col-md-3">
       			{{currentSearchFilter.pollutantSearchFilter.selectedPollutant.name}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Year}}:
       			</div>
       			<div class="col-md-1">
       			{{queryParams.ReportingYear}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Area}}:
       			</div>
       			<div class="col-md-3">
       			{{currentSearchFilter.selectedReportingCountry.name}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Facilities}}:
       			</div>
       			<div class="col-md-1">
       			{{items.length}}
       			</div>
			</div>
			<br />
			All values are yearly releases.
			<br/>
			<!-- message -->
			<table class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                    	<th>&nbsp;</th>
                        <th>{{tr_p.ReleasesPerIndustrialActivity}}&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>{{tr_p.Facilities}}&nbsp;</th>
                        <th>{{tr_p.Air}}&nbsp;</th>
                        <th>{{tr_p.Water}}&nbsp;</th>
                        <th>{{tr_p.Soil}}&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Level1 -->
                    <tr ng-repeat-start="item in activities | orderBy: 'key'">
                    <td><img src="images/timeseries.png" class="timesericesImage" ng-click="alert('TODO')" alt="" /></td>
                        <td>
                        	<img class="handcursor" ng-click="showing=!showing" ng-show="!showing" src="images/plus.gif" />
                        	<img class="handcursor" ng-click="showing=!showing" ng-show="showing" src="images/minus.gif" />
                        	<a ng-click="showing=!showing">{{tr_laa[item.key]}}</a>
                        	 <a href="#/industrialactivity?FacilityID={{item.facilityID}}&ReportingYear={{item.reportingYear}}">
                        	 <img ng-attr-title="{{tr_c.LinkSearchActivity}}" src="images/newsearch.gif" class="newsearchimg"  ng-click="alert('Search')" alt="" />
                    		 </a>
                        </td>
                        <td>
                        {{tr_p.ReleasesAccidentialTotal}}<br/>
                        {{tr_p.ReleasesAccidentalValue}}
                        </td>
                        <td>{{getTypeCount(item.data,"facility")}}
                        <a href="#/facilitylevels?FacilityID={{item.facilityID}}&ReportingYear={{item.reportingYear}}">
                          <img ng-attr-title="{{tr_c.LinkSearchFacility}}" src="images/newsearch.gif" class="newsearchimg" alt="" />
                        </a>
                        <br />{{getTypeCount(item.data,"accidental")}}</td>
                        <td>{{getSum(item.data,"quantityAir")}}<br/>{{getSum(item.data,"quantityAccidentalAir")}}</td>
                        <td>{{getSum(item.data,"quantityWater")}}<br />{{getSum(item.data,"quantityAccidentalWater")}}</td>
                        <td>{{getSum(item.data,"quantitySoil")}}<br />{{getSum(item.data,"quantityAccidentalSoil")}}</td>
                    </tr>
                    <!-- Level2 -->
                    <tr ng-show="showing" ng-repeat-start="level2 in item.data | orderBy: 'iaactivityCode'">
                    	<td>
                    		<img src="images/timeseries.png" class="timesericesImage" ng-click="alert('TODO')" alt="" />
                    	</td>
                    	<td>
                    		<div class="innerlevel2">
                    		<img class="handcursor" ng-click="showing2=!showing2" ng-show="!showing2 && level2.sublevel" src="images/plus.gif" />
                        	<img class="handcursor" ng-click="showing2=!showing2" ng-show="showing2" src="images/minus.gif" /> 
                    		{{tr_laa[level2.iaactivityCode]}}
                    	 	<a href="#/industrialactivity?FacilityID={{level2.facilityID}}&ReportingYear={{level2.reportingYear}}">
                        	 <img ng-attr-title="{{tr_c.LinkSearchActivity}}" src="images/newsearch.gif" class="newsearchimg" ng-click="alert('Search')" alt="" />
                    		 </a>
                    		</div>
                    	</td>
                    	<td>
                    	   	{{tr_p.ReleasesAccidentialTotal}}<br/>
                        	{{tr_p.ReleasesAccidentalValue}}
                    	</td>
                   		<td>{{getTypeCount(level2,"facility")}}
                   		<a href="#/facilitylevels?FacilityID={{level2.facilityID}}&ReportingYear={{level2.reportingYear}}">
                   	      <img ng-attr-title="{{tr_c.LinkSearchFacility}}" src="images/newsearch.gif" class="newsearchimg" alt="" />
                   		</a>
                   		<br />{{getTypeCount(level2,"accidental")}}</td>
                       	<td>{{getSum(level2,"quantityAir")}}<br/>{{getSum(level2,"quantityAccidentalAir")}}</td>
                       	<td>{{getSum(level2,"quantityWater")}}<br />{{getSum(level2,"quantityAccidentalWater")}}</td>
                       	<td>{{getSum(level2,"quantitySoil")}}<br />{{getSum(level2,"quantityAccidentalSoil")}}</td>
                    </tr>
                    <!-- Level3 -->
                    <tr  ng-show="showing2 && showing" ng-repeat-start="level3 in level2.sublevel | orderBy: 'iasubActivityCode'">
                    	<td>
                    		<img src="images/timeseries.png" class="timesericesImage" ng-click="alert('TODO')" alt="" />
                    	</td>
                    	<td>
                    		<div class="innerlevel3"> 
                    		{{tr_laa[level3.iasubActivityCode]}}
                    		</div>
                    	</td>
                    	<td>
                    	   	{{tr_p.ReleasesAccidentialTotal}}<br/>
                        	{{tr_p.ReleasesAccidentalValue}}
                    	</td>
                   		<td>{{getTypeCount(level3,"facility")}}
                   		<a href="#/facilitylevels?FacilityID={{level3.facilityID}}&ReportingYear={{level3.reportingYear}}">
                   	      <img ng-attr-title="{{tr_c.LinkSearchFacility}}" src="images/newsearch.gif" class="newsearchimg" ng-click="alert('Search')" alt="" />
                   	      </a>
                   		<br />{{getTypeCount(level3,"accidental")}}</td>
                       	<td>{{getSum(level3,"quantityAir")}}<br/>{{getSum(level3,"quantityAccidentalAir")}}</td>
                       	<td>{{getSum(level3,"quantityWater")}}<br />{{getSum(level3,"quantityAccidentalWater")}}</td>
                       	<td>{{getSum(level3,"quantitySoil")}}<br />{{getSum(level3,"quantityAccidentalSoil")}}</td>
                    </tr>
                    <tr ng-repeat-end></tr>
                    <tr ng-repeat-end ng-hide="true"></tr>       
                    <tr ng-if="$last">
                    	<td>
                    		<img src="images/timeseries.png" class="timesericesImage" ng-click="alert('TODO')" alt="" />
                    	</td>
                    	<td>
                    		{{tr_c.Total}}
                    	</td>
                    	<td>
                   	   		{{tr_p.ReleasesAccidentialTotal}}<br/>
                     		{{tr_p.ReleasesAccidentalValue}}
                   		</td>
                   		<td>{{totalactivitiesfac}}<br />{{totalactivitiesacc}}</td>
                        <td>{{totalactivitiessumair}}<br/>{{totalactivitiessumaair}}</td>
                    	<td>{{totalactivitiessumwater}}<br />{{totalactivitiessumawater}}</td>
                    	<td>{{totalactivitiessumsoil}}<br />{{totalactivitiessumasoil}}</td>
                    </tr>
                    <tr ng-repeat-end ng-hide="true"></tr>
                    </tbody>
                </table>    
            </tab>
            
            <tab heading="Areas">
			<div>
				<h3>{{tr_c.PollutantReleases}}</h3>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Pollutant}}:
       			</div>
       			<div class="col-md-3">
       			{{currentSearchFilter.pollutantSearchFilter.selectedPollutant.name}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Year}}:
       			</div>
       			<div class="col-md-1">
       			{{queryParams.ReportingYear}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Area}}:
       			</div>
       			<div class="col-md-3">
       			{{currentSearchFilter.selectedReportingCountry.name}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			{{tr_c.Facilities}}:
       			</div>
       			<div class="col-md-1">
       			{{items.length}}
       			</div>
			</div>
			
			<br />
			All values are yearly releases.
			<br/>

			 <table class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                    	<th>&nbsp;</th>
                        <th>{{tr_p.ReleasesPerCountry}}&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>{{tr_p.Facilities}}&nbsp;</th>
                        <th>{{tr_p.Air}}&nbsp;</th>
                        <th>{{tr_p.Water}}&nbsp;</th>
                        <th>{{tr_p.Soil}}&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    <!-- First level -->
                    <tr ng-repeat-start="item in areas" >
                        <td><img src="images/timeseries.png" class="timesericesImage" ng-click="alert('TODO')" alt="" /></td>
                        <td>
                        <img class="handcursor" ng-click="showing=!showing" ng-show="!showing" src="images/plus.gif" />
                        <img class="handcursor" ng-click="showing=!showing" ng-show="showing" src="images/minus.gif" />
                        <a ng-click="showing=!showing">{{tr_lco[item.key]}}</a></td>            
                        <td>
                        {{tr_p.ReleasesAccidentialTotal}}
                        <br/>
                        {{tr_p.ReleasesAccidentalValue}}
                        </td>
                        <td>{{getTypeCount(item.data,"facility")}}
                        <a href="#/facilitylevels?FacilityID={{item.facilityID}}&ReportingYear={{item.reportingYear}}">
                        <img ng-attr-title="{{tr_c.LinkSearchFacility}}" src="images/newsearch.gif" class="newsearchimg" alt="" />
                        </a>
                        <br />{{getTypeCount(item.data,"accidental")}}</td>
                        <td>{{getSum(item.data,"quantityAir")}}<br/>{{getSum(item.data,"quantityAccidentalAir")}}</td>
                        <td>{{getSum(item.data,"quantityWater")}}<br />{{getSum(item.data,"quantityAccidentalWater")}}</td>
                        <td>{{getSum(item.data,"quantitySoil")}}<br />{{getSum(item.data,"quantityAccidentalSoil")}}</td>
                    </tr>
                    
                    <!-- Second level -->
                    <tr ng-show="showing" ng-repeat-start="item2 in item.data">
                        	<td><img src="images/timeseries.png" class="timesericesImage" ng-click="showinfo(item2, this)" alt="" /></td>        	
                        	<td ng-if="regionSearch">
                        		<div class="innerlevel2">
                        		{{tr_lnr[item2.nutslevel2RegionCode]}}
                        		</div>
                        	</td>
                        	<td ng-if="!regionSearch">
                        		<div class="innerlevel2">
                        		{{tr_lrbd[item2.riverBasinDistrictCode]}}
                        		</div>
                        	</td>        
                        	<td>
                        	{{tr_p.ReleasesAccidentialTotal}}
                        	<br/>
                        	{{tr_p.ReleasesAccidentalValue}}
                        	</td>
                        	<td>{{getTypeCount(item2,"facility")}}
                        	<a href="#/facilitylevels?FacilityID={{item2.facilityID}}&ReportingYear={{item2.reportingYear}}">
                        	<img ng-attr-title="{{tr_c.LinkSearchFacility}}" src="images/newsearch.gif" class="newsearchimg" alt="" />
                        	</a>
                        	<br />{{getTypeCount(item2,"accidental")}}</td>
                         	<td>{{getSum(item2,"quantityAir")}}<br/>{{getSum(item2,"quantityAccidentalAir")}}</td>
                        	<td>{{getSum(item2,"quantityWater")}}<br />{{getSum(item2,"quantityAccidentalWater")}}</td>
                        	<td>{{getSum(item2,"quantitySoil")}}<br />{{getSum(item2,"quantityAccidentalSoil")}}</td>
                    </tr>                
                    <tr ng-repeat-end></tr>
                       <tr ng-if="$last">
                    	<td>
                    		<img src="images/timeseries.png" class="timesericesImage" ng-click="alert('TODO')" alt="" />
                    	</td>
                    	<td>
                    		{{tr_c.Total}}
                    	</td>
                    	<td>
                   	   		{{tr_p.ReleasesAccidentialTotal}}<br/>
                     		{{tr_p.ReleasesAccidentalValue}}
                   		</td>
                   		<td>{{totalareasfac}}<br />{{totalareasacc}}</td>
                    	<td>{{totalareassumair}}<br/>{{totalareassumaair}}</td>
                    	<td>{{totalareassumwater}}<br />{{totalareassumawater}}</td>
                    	<td>{{totalareassumsoil}}<br />{{totalareassumasoil}}</td>
                    </tr>
                    <tr ng-repeat-end ng-hide="true"></tr>
                    </tbody>
                </table>
            </tab>
            
            <tab heading="Area Comparison">
                <br/>
                Show facilities releasing to
                <label class="radio-inline"><input type="radio" name="areaComparisonMediumTypeOptionsRadios" id="areaComparisonMediumTypeOptionsRadios_0" value="Air" ng-model="$parent.mediumTypeAreaComparison"> Air ({{quantityAir}} facilities)</label>
                <label class="radio-inline"><input type="radio" name="areaComparisonMediumTypeOptionsRadios" id="areaComparisonMediumTypeOptionsRadios_1" value="Water" ng-model="$parent.mediumTypeAreaComparison"> Water ({{quantityWater}} facilities)</label>
                <label class="radio-inline"><input type="radio" name="areaComparisonMediumTypeOptionsRadios" id="areaComparisonMediumTypeOptionsRadios_2" value="Soil" ng-model="$parent.mediumTypeAreaComparison"> Soil ({{quantitySoil}} facilities)</label>
                <br/>
                <div google-chart chart="areaComparisonChartObject" style="height:600px; width:100%;">
                </div>
            </tab>
            

            <tab heading="Facilities">
                <br/>
                Show facilities releasing to
                <label class="radio-inline"><input type="radio" name="facilitiesMediumTypeOptionsRadios" id="facilitiesMediumTypeOptionsRadios_0" value="Air" ng-model="$parent.mediumTypeFacilities"> Air ({{quantityAir}} facilities)</label>
                <label class="radio-inline"><input type="radio" name="facilitiesMediumTypeOptionsRadios" id="facilitiesMediumTypeOptionsRadios_1" value="Water" ng-model="$parent.mediumTypeFacilities"> Water ({{quantityWater}} facilities)</label>
                <label class="radio-inline"><input type="radio" name="facilitiesMediumTypeOptionsRadios" id="facilitiesMediumTypeOptionsRadios_2" value="Soil" ng-model="$parent.mediumTypeFacilities"> Soil ({{quantitySoil}} facilities)</label>
                <br/>
                <table class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>{{tr_c.Facility}}&nbsp;</th>
                        <th>{{tr_c.Quantity}}&nbsp;</th>
                        <th>{{tr_c.Accidental}}&nbsp;</th>
                        <th>{{tr_c.Accidental}} %&nbsp;</th>
                        <th>{{tr_c.Activity}}&nbsp;</th>
                        <th>{{tr_c.Country}}&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in facilitiesItems">
                        <td><a href="#/facilitydetails?FacilityID={{item.facilityID}}&ReportingYear={{item.reportingYear}}">{{formatText(item.facilityName, item.confidentialIndicatorFacility)}}</a></td>
                        <td>{{quantity(item)}}</td>
                        <td>{{quantityAccidental(item)}}</td>
                        <td>{{percentageAccidental(item)}}</td>
                        <td>{{tr_laa[item.iaactivityCode]}}</td>
                        <td>{{tr_lco[item.countryCode]}}</td>
                    </tr>
                    </tbody>
                </table>
            </tab>
            
            <tab heading="Confidentiality">
                <br />
                <div ng-if="!hasConfidentionalData" ng-bind-html="tr_con.NoConfidentialityInformation">
   				<br />
                </div>
                    
                <div ng-if="hasConfidentionalData">
	                <div ng-bind-html="tr_c.ConfidentialityExplanationPR1">
	                </div>
	                 <table class="table table-striped table-condensed table-hover">
                    	<thead>
                    	<tr>
                   		<th>{{tr_c.Pollutant}}</th>
                  		<th>{{tr_f.FacilitiesAir}}</th>
                   		<th>{{tr_f.FacilitiesWater}}</th>
                   		<th>{{tr_f.FacilitiesSoil}}</th>
                    	</tr>
                    	</thead>
                    	<tbody>
                    	<tr ng-repeat="item in itemCon">
                    	<td>{{tr_lpo[item.pollutantCode]}}</td>
                    	<td>{{item.aircount}}</td>
                    	<td>{{item.watercount}}</td>
                    	<td>{{item.soilcount}}</td>
                    	</tr>
	                    </tbody>
               		</table>
	                <br />
					<br />
					<div ng-bind-html="tr_p.ConfidentialityReason">
					</div>
					<br />
					<br />
	                <div>
	                  <table class="table table-striped table-condensed table-hover">
                    	<thead>
                    	<tr>
                    		<th>{{tr_c.Reason}}</th>
                    		<th>{{tr_f.FacilitiesAir}}</th>
                    		<th>{{tr_f.FacilitiesWater}}</th>
                    		<th>{{tr_f.FacilitiesSoil}}</th>
                    	</tr>
                    	</thead>
                    	<tbody>
                    	<tr ng-repeat="item in itemConReason">
                    		<td>{{tr_lcon[item.reason]}}</td>
                    		<td>{{item.aircount}}</td>
                    		<td>{{item.watercount}}</td>
                    		<td>{{item.soilcount}}</td>
                    	</tr>
	                    </tbody>
               		  </table>
               		  <br />
               		    <div ng-bind-html="tr_c.ConfidentialityExplanationPR2">
	                	</div>
	                </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
