<div>

    <div>
        <p>This report will display the aggregated releases of a specific pollutant.</p>
    </div>

    <div class="row row-map">

        <div class="search_form col-md-6">

            <div class="panel panel-info">
                <div class="panel-heading">Search</div>
                <div class="panel-body">

                    <div search-placement>
                    </div>

                    <accordion close-others="{{false}}">
                        <div pollutant-search-filter-directive>
                        </div>
                        <div activity-search-filter-directive>
                        </div>
                    </accordion>

                    <div>
                        <input type="submit" value="Search" ng-click="search()" class="btn btn-default">
                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-6" style="height:400px;">
            <esri-leaf-map queryparams="queryParams" />
        </div>

    </div>

    <div ng-show="searchResults">
        <tabset>
            <tab heading="Summary">
                <br/>
                Show facilities releasing to
                <label class="radio-inline"><input type="radio" name="summaryMediumTypeOptionsRadios" id="summaryMediumTypeOptionsRadios_0" value="Air" ng-model="$parent.mediumTypeSummary"> Air ({{quantityAir}} facilities)</label>
                <label class="radio-inline"><input type="radio" name="summaryMediumTypeOptionsRadios" id="summaryMediumTypeOptionsRadios_1" value="Water" ng-model="$parent.mediumTypeSummary"> Water ({{quantityWater}} facilities)</label>
                <label class="radio-inline"><input type="radio" name="summaryMediumTypeOptionsRadios" id="summaryMediumTypeOptionsRadios_2" value="Soil" ng-model="$parent.mediumTypeSummary"> Soil ({{quantitySoil}} facilities)</label>
                <br/>
                <div google-chart chart="summaryChartObject" style="height:600px; width:100%;">
                </div>
            </tab>
            <tab heading="Activities">
<div>
				<h3>Pollutant releases</h3>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			Pollutant:</div>
       			<div class="col-md-3">
       			{{currentSearchFilter.pollutantSearchFilter.selectedPollutant.name}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			Year:
       			</div>
       			<div class="col-md-1">
       			{{queryParams.ReportingYear}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			Area:
       			</div>
       			<div class="col-md-3">
       			{{currentSearchFilter.selectedReportingCountry.name}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			Facilities:
       			</div>
       			<div class="col-md-1">
       			{{items.length}}
       			</div>
			</div>
			
			<br />
			All values are yearly releases.
			<br/>
			
            </tab>
            
            <tab heading="Areas">
			<div>
				<h3>Pollutant releases</h3>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			Pollutant:</div>
       			<div class="col-md-3">
       			{{currentSearchFilter.pollutantSearchFilter.selectedPollutant.name}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			Year:
       			</div>
       			<div class="col-md-1">
       			{{queryParams.ReportingYear}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			Area:
       			</div>
       			<div class="col-md-3">
       			{{currentSearchFilter.selectedReportingCountry.name}}
       			</div>
			</div>
			<div class="row">
			   	<div class="col-md-1">
       			Facilities:
       			</div>
       			<div class="col-md-1">
       			{{items.length}}
       			</div>
			</div>
			
			<br />
			All values are yearly releases.
			<br/>

    			<!-- <div ng-repeat-start="team in teams" class="header">{{team.name}}</div>
    			<div ng-repeat="player in team.players">{{player.firstName}} {{player.lastName}}</div>
    			<div ng-repeat-end><br /></div>-->

			 <table class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                    	<th>&nbsp;</th>
                        <th>{{tr_p.ReleasesPerCountry}}&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>{{tr_p.Facilities}}&nbsp;</th>
                        <th>{{tr_p.Air}}&nbsp;</th>
                        <th>{{tr_p.Water}}&nbsp;</th>
                        <th>{{tr_p.Soil}}&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody >
                    <!-- First level -->
                    <tr ng-repeat-start="item in contries" ><!-- ng-click="showing=!showing" ng-click="showinfo(item, this)" -->
                        <td><img src="images/timeseries.png" class="timesericesImage" ng-click="alert('TODO')" alt="" /></td>
                        <td>
                        <img ng-click="showing=!showing" ng-show="!showing" src="images/plus.gif" />
                        <img ng-click="showing=!showing" ng-show="showing" src="images/minus.gif" />
                        <a ng-click="showing=!showing">{{tr_lco[item.key]}}</a></td>            
                        <td>
                        {{tr_p.ReleasesAccidentialTotal}}<br/>
                        {{tr_p.ReleasesAccidentalValue}}
                        </td>
                        <td>{{getTypeCount(item.data,"facility")}}<br />{{getTypeCount(item.data,"accidental")}}</td>
                        <td>{{getSum(item.data,"quantityAir")}}<br/>{{getSum(item.data,"quantityAccidentalAir")}}</td>
                        <td>{{getSum(item.data,"quantityWater")}}<br />{{getSum(item.data,"quantityAccidentalWater")}}</td>
                        <td>{{getSum(item.data,"quantitySoil")}}<br />{{getSum(item.data,"quantityAccidentalSoil")}}</td>
                    </tr>
                    <!-- Second level -->
                    <tr ng-show="showing" ng-repeat-start="item2 in item.data">
                        	<td><img src="images/timeseries.png" class="timesericesImage" ng-click="showinfo(item2, this)" alt="" /></td>
                        	
                        	<td ng-if="regionSearch">
                        		{{tr_lnr[item2.nutslevel2RegionCode]}}
                        	</td>
                        	<td ng-if="!regionSearch">
                        		{{tr_lrbd[item2.riverBasinDistrictCode]}}
                        	</td>
                        	        
                        	<td>
                        	{{tr_p.ReleasesAccidentialTotal}}<br/>
                        	{{tr_p.ReleasesAccidentalValue}}
                        	</td>
                        	<td>{{getTypeCount(item2,"facility")}}<br />{{getTypeCount(item2,"accidental")}}</td>
                         	<td>{{getSum(item2,"quantityAir")}}<br/>{{getSum(item2,"quantityAccidentalAir")}}</td>
                        	<td>{{getSum(item2,"quantityWater")}}<br />{{getSum(item2,"quantityAccidentalWater")}}</td>
                        	<td>{{getSum(item2,"quantitySoil")}}<br />{{getSum(item2,"quantityAccidentalSoil")}}</td>
                    </tr>
                    <!-- Third level -->
                    <!--  <tr ng-show="test3" ng-repeat-start="test2 in test.data" >
                        	<td></td>
                        	<td></td>            
                        	<td></td>
                        	<td>{{test2.facilityReportID}}</td>
                        	<td></td>
                        	<td></td>
                        	<td></td>
                    </tr>-->
                    
                    <tr ng-repeat-end></tr>
                    <tr ng-repeat-end ng-hide="true"></tr>
                    <!-- <tr ng-repeat-end ng-hide="true"></tr>-->
                    </tbody>
                </table>
              <!--  <div id="gridAreas" ui-grid="gridAreasOptions" ui-grid-grouping class="grid"></div>-->
            </tab>
            <tab heading="Area Comparison">
                <br/>
                Show facilities releasing to
                <label class="radio-inline"><input type="radio" name="areaComparisonMediumTypeOptionsRadios" id="areaComparisonMediumTypeOptionsRadios_0" value="Air" ng-model="$parent.mediumTypeAreaComparison"> Air ({{quantityAir}} facilities)</label>
                <label class="radio-inline"><input type="radio" name="areaComparisonMediumTypeOptionsRadios" id="areaComparisonMediumTypeOptionsRadios_1" value="Water" ng-model="$parent.mediumTypeAreaComparison"> Water ({{quantityWater}} facilities)</label>
                <label class="radio-inline"><input type="radio" name="areaComparisonMediumTypeOptionsRadios" id="areaComparisonMediumTypeOptionsRadios_2" value="Soil" ng-model="$parent.mediumTypeAreaComparison"> Soil ({{quantitySoil}} facilities)</label>
                <br/>
                <div google-chart chart="areaComparisonChartObject" style="height:600px; width:100%;">
                </div>
            </tab>
            <tab heading="Facilities">
                <br/>
                Show facilities releasing to
                <label class="radio-inline"><input type="radio" name="facilitiesMediumTypeOptionsRadios" id="facilitiesMediumTypeOptionsRadios_0" value="Air" ng-model="$parent.mediumTypeFacilities"> Air ({{quantityAir}} facilities)</label>
                <label class="radio-inline"><input type="radio" name="facilitiesMediumTypeOptionsRadios" id="facilitiesMediumTypeOptionsRadios_1" value="Water" ng-model="$parent.mediumTypeFacilities"> Water ({{quantityWater}} facilities)</label>
                <label class="radio-inline"><input type="radio" name="facilitiesMediumTypeOptionsRadios" id="facilitiesMediumTypeOptionsRadios_2" value="Soil" ng-model="$parent.mediumTypeFacilities"> Soil ({{quantitySoil}} facilities)</label>
                <br/>
                <table class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Facility&nbsp;</th>
                        <th>Quantity&nbsp;</th>
                        <th>Accidental&nbsp;</th>
                        <th>Accidental %&nbsp;</th>
                        <th>Activity&nbsp;</th>
                        <th>Country&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in facilitiesItems">
                        <td><a href="#/facilitydetails?FacilityID={{item.facilityID}}&ReportingYear={{item.reportingYear}}">{{formatText(item.facilityName, item.confidentialIndicatorFacility)}}</a></td>
                        <td>{{quantity(item)}}</td>
                        <td>{{quantityAccidental(item)}}</td>
                        <td>{{percentageAccidental(item)}}</td>
                        <td>{{item.iaactivityCode}}</td>
                        <td>{{item.countryCode}}</td>
                    </tr>
                    </tbody>
                </table>
            </tab>
            <tab heading="Confidentiality">
                <br/>
                <p>
                    The search result is not affected by any confidentiality claims.
                </p>
            </tab>
        </tabset>
    </div>

</div>
