<div class="row">
	<div class="col-md-12">
		<h3>{{tr_f.Facilitylevel}}</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>{{tr_f.SubHeadline}}</p>
	
	</div>
</div>

<div class="row row-map">

	<div class="search_form col-md-3">

		<div class="panel panel-info">
			<div class="panel-heading">Search</div>
			<div class="panel-body">
				<div id="searchbtn" style="height: 35px;">
					<div class="btn-group pull-right">
						<input type="submit" value="Search >>" ng-click="search()"
							class="btn btn-success" />
					</div>
				</div>
				<div search-placement></div>

				<div class="form-group">
					<label class="control-label" for="inputFacilityName">{{tr_c.FacilityName}}</label>
					<input type="text" class="form-control" id="inputFacilityName"
						placeholder="Enter facility name"
						ng-model="searchFilter.facilityName">
				</div>
				<div class="form-group">
					<label class="control-label" for="inputTown">{{tr_f.TownVillage}}</label>
					<input type="text" class="form-control" id="inputTown"
						placeholder="Enter town" ng-model="searchFilter.cityName">
				</div>

				<accordion close-others="{{false}}">
				<div activity-search-filter-directive></div>
				<div pollutant-search-filter-directive></div>
				<div waste-search-filter-directive></div>
				</accordion>

			</div>

		</div>

	</div>
	<div class="col-md-9 minor-padding">
	
	<div class="{{mapclss}}" style="height: {{mapheight}}px;">
			<button type="button" ng-click="togglemapview()" title="{{maptooltip}}"
				class="btn btn-default pull-right" style="position:absolute; right:5px; margin:5px;z-index:110;" >
				<span class="{{resize_icon}}" aria-hidden="true"></span>
			</button><esri-leaf-map contenttype="'facilitylevel'" queryparams="queryParams" control="mapctrl"/>
		</div>
		<div class="{{resclss}}">
			<div class="row" ng-show="confidentialFacilities">
				<div class="alert alert-warning">
					<a class="text-danger" ng-click="activateTab('confidentiality')"><i
						class="fa fa-exclamation-triangle"></i>
						{{tr_f.ConfidentialityAlertLink}}</a>
				</div>
			</div>
			<div class="col-md-12 top-buffer10" ng-if="beforesearch">
				<div class="alert alert-success">
					<strong>{{tr_c.SearchText}}</strong>
				</div>
			</div>

			<!--div ng-show="searchResults"-->
			<div class="col-md-12">
				<tabset> <tab heading="{{tr_c.Facilities}}"
					active="active.facilities"> <span
					us-spinner="{radius:16, width:6, length: 12}"
					spinner-key="spinner-1"></span>
				<div id="facility" class=" col-md-12 table-responsive top-buffer10">
					<div class="row top-buffer10" ng-show="searchResults">
						<div class="col-md-6">
							<table>
								<tr>
									<td class="fdTitles">{{tr_c.Year }}:</td>
									<td>{{ queryParams.ReportingYear }}</td>
								</tr>
								<tr>
									<td class="fdTitles">{{ tr_c.Area }}:</td>
									<td>{{ currentSearchFilter.selectedReportingCountry.name
										}}</td>
								</tr>
								<tr>
									<td class="fdTitles">{{ tr_c.Facilities }}:</td>
									<td>{{ totalItemCount }}</td>
								</tr>
							</table>
						</div>
						<div class="col-md-6">
							<button class="print-button btn btn-default pull-right" ng-print
								print-element-id="facility">
								<i class="fa fa-print"></i>
							</button>
							<button class="btn btn-default pull-right"
								ng-click="downloadClick()">
								<span class="glyphicon glyphicon-download-alt"
									aria-hidden="true"></span>
							</button>
						</div>
					</div>

					<table
						class="table table-striped table-condensed table-hover top-buffer10">
						<thead>
							<tr>
								<th class="facilityName" custom-sort order="'facilityName'"
									sort="sort">{{tr_f.FacilityName}}</th>
								<th class="postalCode" custom-sort order="'postalCode'"
									sort="sort">{{tr_f.PostalCode}}</th>
								<th class="address" custom-sort order="'address'" sort="sort">{{tr_f.Address}}</th>
								<th class="city" custom-sort order="'city'" sort="sort">{{tr_f.TownVillage}}</th>
								<th class="iaactivityCode" custom-sort order="'IAActivityCode'"
									sort="sort">{{tr_f.Activity}}</th>
								<th class="countryCode" custom-sort order="'countryCode'"
									sort="sort">{{tr_f.Country}}</th>
							</tr>
						</thead>
						<tfoot>
							<td colspan="6">
								<div class='pagination' ng-show="hasItems()">
									<pagination boundary-links="true"
										ng-model="$parent.currentPage" total-items="totalItemCount"
										items-per-page="itemsPerPage" max-size="gap"
										class="pagination pull-right" previous-text="&lsaquo;"
										next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
								</div>
							</td>
						</tfoot>
						<tbody>
							<tr ng-repeat="item in items">
								<td><a
									ng-click="openFDmodal(item.facilityID, item.facilityReportID, item.reportingYear)" style="cursor:pointer;">{{formatText(item.facilityName,
										item.confidentialIndicator)}}</a></td>
								<td>{{formatText(item.postalCode,
									item.confidentialIndicator)}}</td>
								<td>{{formatText(item.address,
									item.confidentialIndicator)}}</td>
								<td>{{formatText(item.city, item.confidentialIndicator)}}</td>
								<td>{{item.iaactivityCode}}</td>
								<td>{{item.countryCode}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				</tab> <tab heading="{{tr_c.ContentConfidientiality}}"
					active="active.confidentiality"> <br />
				<div ng-show="confidentialFacilities">
					<div>
						<img src="images/alert.png" alt="alert" style="border-width: 0px;">
						<a>{{tr_c.ConfidentialityAlert}}</a>
					</div>
					<br />
				</div>
				<p ng-bind-html="tr_c.ConfidentialityExplanationFacilityList"></p>
				</tab> </tabset>
			</div>
			<!-- /div-->
		</div>

	</div>


</div>
