<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">
	

        <mvc:resources location="/images/" mapping="/images/**"/>
        <mvc:resources location="/style/" mapping="/style/**"/>
        <mvc:resources location="/scripts/" mapping="/scripts/**"/>

	<!-- Scans the classpath of this application for @Components to deploy as beans -->
	<context:component-scan base-package="eea.eprtr.controller" />
	
	<!-- Configures the @Controller programming model -->
	<mvc:annotation-driven />
	
        <bean id="jsonMessageConverter"
              class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
            <property name="supportedMediaTypes" value="application/json" />
        </bean>

        <bean id="jaxbHttpMessageConverter" class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
            <constructor-arg ref="jaxbMarshaller" index="0"/>
            <constructor-arg ref="jaxbMarshaller" index="1"/>
            <property name="supportedMediaTypes">
                <list>
                    <value>application/xml</value>
                    <value>text/xml</value>
                </list>
            </property>
        </bean>

        <bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
            <property name="classesToBeBound">
                <list>
                    <value>eea.eprtr.model.Greeting</value>
                </list>
            </property>
        </bean>

</beans>
