<div class="container-fluid" >
<!-- ** HEADER ** -->


   <div class="row">
      <div class="col-md-10 " style="display: inline-block; vertical-align: bottom;">
          <!--h2><small>{{title}}</small></h2 -->
          <table>
			  <tr ng-repeat="x in headitms | orderBy : 'order'" >
			    <td class="{{x.clss}}">{{ x.title }}:</td>
			    <td>{{ x.val }}</td>
			  </tr>
			</table>
		    </br>
      </div>
      <div class="col-md-2 text-right" style="padding-top:5px;">
      	  <!-- <button class="btn btn-default btn-xs" title="Print"><i class="fa fa-print"></i></button> -->
	      <button class="btn btn-default btn-xs" title="Download"><i class="fa fa-download"></i></button>
	  </div>
   </div>
   <div class="row" ng-hide="(showalert? false: true)">
      <blockquote>
      	<small><a class="text-danger" ng-click="activateTab('confidentiality')" ><i class="fa fa-exclamation-triangle"></i>  {{tr_f.ConfidentialityAlertLink}}</a></small>
      </blockquote>
   </div>

<!-- ** SELECTORS ** -->
   <div class="row" style="padding-top:10px;" ng-if="content == 'pollutantrelease' && queryParams.MediumCode != undefined && queryParams.MediumCode.length > 1">
        	<div class="col-md-12 "><strong>{{tr_p.ShowFacilitiesReleasingToMedium}}</strong></br> 
        	<label class="col-md-4 radio-simple">
	         <input type="radio" name="prsel" ng-model="filter.prsel" value="AIR" /> {{tr_c.Air}} ({{quantityAir | number}} {{tr_c.Facilities}})
	        </label>
	        <label  class="col-md-4 radio-simple">
	         <input type="radio" name="prsel" ng-model="filter.prsel" value="WATER" /> {{tr_c.Water}} ({{quantityWater | number}} {{tr_c.Facilities}})
	        </label>
	        <label  class="col-md-4 radio-simple">
	         <input type="radio" name="prsel" ng-model="filter.prsel" value="SOIL" /> {{tr_c.Soil}} ({{quantitySoil | number}} {{tr_c.Facilities}})
         	</label>
         	</div>
       </div>
   <div class="row" style="padding-top:10px;" ng-if="showwastetype">
        	<div class="col-md-12"><strong>{{tr_w.ShowFacilitiesWithTransferOfWasteType}}</strong></br> 
        	<label class="col-md-4 radio-simple">
	         <input type="radio" name="wtsel" ng-model="filter.wtsel" value="NONHW" /> {{tr_c.NoHazardouswaste}} </BR> ({{quantityNONHW | number}} {{tr_c.Facilities}})
	        </label>
	        <label class="col-md-4 radio-simple">
	         <input type="radio" name="wtsel" ng-model="filter.wtsel" value="HWIC" /> {{tr_c.HazardouswasteWithinCountry}} </BR> ({{quantityHWIC | number}} {{tr_c.Facilities}})
	        </label>
	        <label  class="col-md-4 radio-simple">
	         <input type="radio" name="wtsel" ng-model="filter.wtsel" value="HWOC" /> {{tr_c.HazardouswasteTransboundary}} </BR> ({{quantityHWOC | number}} {{tr_c.Facilities}})
         	</label>
         	</div>
         	</BR>
  </div>

<!-- ** Tabset ** -->
   <div class="row" style="padding-top:10px;" >
          <tabset>
<!-- 
TIMESERIES
 -->
  <tab heading="Time Series" active="active.timeseries" ng-click="activateTab('timeseries')">
   <div class="row" style="padding-top:10px;" >
        <div class="col-md-12">
        	<div google-chart chart="tsStackseriesObject" style="height:250px; width:100%;"></div>
        </div>
   </div>
   <div class="row" style="padding-top:10px;" >
<!-- TS TABLE -->
   <div class="col-md-6" >
	<table class="table table-striped table-condensed table-hover"  ng-if="tscoll.length > 0" >
      <thead>
           <tr class="generalListStyle_headerRow">
             <th>{{tr_c.Year}}</th>
             <th>{{tr_c.EPRTRCountries}}</th>
             <th>{{tr_c.Facilities}}</th>
           </tr>
       </thead>
       <tbody>
         <tr ng-repeat="item in tscoll | orderBy : 'reportingYear'">
	         <td>{{item.reportingYear}}</td>
	         <td class="text-right">{{item.countries | number}}</td>
	         <td class="text-right">{{item.facilities | number}}</td>
	     </tr>
       </tbody>
   </table>
   <p class="text-warning" ng-if="tscoll.length < 1">{{tr_c.NoResultsFound}}</p>
        </div>
   </div>
  </tab>
<!-- 
COMPARISON
 -->
   <tab heading="Comparison" active="active.comparison" ng-click="activateTab('comparison')">
   <div class="row" style="padding-top:10px;" >
        <div class="col-md-5" style="height:325px;" >	
        	<!--  Year selector -->
        	<div >
        		<p>{{tr_c.TimeSeriesCompareYears}}</p>
        		<select style="width:70px;" ng-model="tscompare.selectedStartYear" ng-options="y.year for y in reportingyears" id="startYear" ></select>  {{tr_c.TimeSeriesCompareAnd}}  <select style="width:70px;" ng-model="tscompare.selectedEndYear" ng-options="y.year for y in reportingyears" id="endYear" ></select>
        		</br>
              	<div google-chart chart="tsStackCompareObject" style="height:250px; width:100%;"></div>
        	</div>
        </div>
        <div class="col-md-7"  >	
			<table class="table table-striped table-condensed table-hover"  ng-if="tscompare.alldata.length > 0" >
		      <thead>
		           <tr class="generalListStyle_headerRow">
		             <th class="col-md-6">{{tr_c.AllFacilities}}</th>
		             <th class="col-md-3 text-right">{{tscompare.selectedStartYear.year}}</th>
		             <th class="col-md-3 text-right">{{tscompare.selectedEndYear.year}}</th>
		           </tr>
		       </thead>
		       <tbody>
		         <tr ng-repeat="item in tscompare.alldata">
			         <td>{{item.title}}</td>
			         <td class="text-right">{{item.col1}}</td>
			         <td class="text-right">{{item.col2}}</td>
			     </tr>
		       </tbody>
		   </table>
		   <p class="text-warning" ng-if="tscompare.alldata.length < 1">{{tr_c.NoResultsFound}}</p>
		   </br>
		   	<table class="table table-striped table-condensed table-hover"  ng-if="tscompare.bothdata.length > 0" >
		      <thead>
		           <tr class="generalListStyle_headerRow">
		             <th class="col-md-6">{{tr_c.FacilitiesBothYears}}</th>
		             <th class="col-md-3 text-right">{{tscompare.selectedStartYear.year}}</th>
		             <th class="col-md-3 text-right">{{tscompare.selectedEndYear.year}}</th>
		           </tr>
		       </thead>
		       <tbody>
		         <tr ng-repeat="item in tscompare.bothdata">
			         <td>{{item.title}}</td>
			         <td class="text-right">{{item.col1}}</td>
			         <td class="text-right">{{item.col2}}</td>
			     </tr>
		       </tbody>
		   </table>
		   <p class="text-warning" ng-if="tscompare.bothdata.length < 1">{{tr_c.NoResultsFound}}</p>
		   
        
        <!-- 		$scope.tscompare.alldata.push(
					{'title':$scope.tr_c['Total'], 
						'col1':formatStrFactory.getStrFormat(y1.quantityAll), 
						'col2':formatStrFactory.getStrFormat(y2.quantityAll)});
         -->	
		</div>        
   </div>
   </tab>
<!-- 
CONFIDENT
 -->
   <tab heading="Confidentiality" active="active.confidentiality"  ng-click="activateTab('confidentiality')">
   <div class="row" style="padding-top:10px;" ng-hide="showalert">
        <div class="col-md-12" >{{tr_lcf.NoConfidentialityInformation}} </div>
   </div>
   <div class="row" style="padding-top:10px;" ng-hide="showalert? false: true">
   <div class="col-md-12" ng-bind-html="ConfidentialityExplanation"></div>
   <!-- div class="col-md-12" >{{ConfidentialityExplanation}} </div -->
   </div>
   </br>
<!-- POLLUTANTRELEASE -->
   <div class="col-md-12" id="prconfcollContainer" ng-hide="content != 'pollutantrelease'" >
	<table class="table table-striped table-condensed table-hover" ng-hide="prconfcoll.length > 0 ? false : true ">
      <thead>
           <tr class="generalListStyle_headerRow">
             <th class="text-right">{{tr_c.Year}}</th>
             <th class="text-right">{{base.pollutant.name}}</th>
             <th class="text-right" ng-hide="showGroup? false: true">{{base.parentpollutant.name}}</th>
           </tr>
       </thead>
       <tbody>
         <tr ng-repeat="item in prconfcoll | orderBy : 'reportingYear'">
	         <td class="text-right">{{item.reportingYear}}</td>
	         <td class="text-right">{{fFactory.formatMethod(item.quantityPollutant,false)}} {{item.unitPollutant}}</td>
	         <td class="text-right" ng-hide="showGroup? false: true">{{fFactory.formatMethod(item.quantityConfidential,false)}}</td>
	     </tr>
       </tbody>
   </table>
   <p class="text-warning" ng-hide="prconfcoll.length > 0">{{tr_c.NoResultsFound}}</p>
	</div>
<!-- POLLUTANTTRANSFER -->
   <div class="col-md-12" id="prconfcollContainer" ng-hide="content != 'pollutanttransfer'" >
	<table class="table table-striped table-condensed table-hover" ng-hide="ptconfcoll.length > 0 ? false : true ">
      <thead>
           <tr class="generalListStyle_headerRow">
             <th class="text-right">{{tr_c.Year}}</th>
             <th class="text-right">{{base.pollutant.name}}</th>
             <th class="text-right" ng-hide="showGroup? false: true">{{base.parentpollutant.name}}</th>
           </tr>
       </thead>
       <tbody>
         <tr ng-repeat="item in ptconfcoll | orderBy : 'reportingYear'">
	         <td class="text-right">{{item.reportingYear}}</td>
	         <td class="text-right">{{fFactory.formatMethod(item.quantityPollutant,false)}} {{item.unitPollutant}}</td>
	         <td class="text-right" ng-hide="showGroup? false: true">{{fFactory.formatMethod(item.quantityConfidential,false)}}</td>
	     </tr>
       </tbody>
   </table>
   <p class="text-warning" ng-hide="ptconfcoll.length > 0 ">{{tr_c.NoResultsFound}}</p>
	</div>
<!-- WASTETRANSFER -->
   <div class="col-md-12" id="prconfcollContainer" ng-hide="content != 'wastetransfer'" >
	<table class="table table-striped table-condensed table-hover" ng-hide="wtconfcoll.length > 0 ? false : true ">
      <thead>
           <tr class="generalListStyle_headerRow">
             <th>{{tr_c.Year}}</th>
             <th class="text-right">{{tr_f.Facilities}}</br>{{tr_c.Total}}</th>
             <th class="text-right">{{tr_f.Facilities}}</br>{{tr_w.ConfidentialityWaste}}</th>
             <th class="text-right">{{tr_f.Facilities}}</br>{{tr_w.QuantityWithheld}}</th>
             <th class="text-right">{{tr_f.Facilities}}</br>{{tr_w.TreatmentWithheld}}</th>
           </tr>
       </thead>
       <tbody>
         <tr ng-repeat="item in wtconfcoll | orderBy : 'reportingYear'">
	         <td class="text-right">{{item.reportingYear}}</td>
	         <td class="text-right">{{item.countTotal | number }}</td>
	         <td class="text-right">{{item.countConfTotal | number }}</td>
	         <td class="text-right">{{item.countConfQuantity | number }}</td>
	         <td class="text-right">{{item.countConfTreatment | number }}</td>
	     </tr>
       </tbody>
   </table>
   <p class="text-warning" ng-hide="wtconfcoll.length > 0">{{tr_c.NoResultsFound}}</p>
	</div>
   
   </tab>
</tabset>
</div>

</div>
