<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 

<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>E-PRTR</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css" />
  <!-- endbower -->
  <!-- build:css(.tmp) styles/main.css -->
  <link href="styles/eprtr-custom.css" rel="stylesheet">
  <!-- endbuild -->

</head>
<body>

<div ng-controller="HeaderController">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
         	<li ng-class="{ active: isActive('/home')}"><a href="#home" ng-click="subtitle = 'Welcome to E-PRTR'">Home</a></li>
            <li ng-class="{ active: isActive('/facilitylevels')}" class="dropdown" dropdown>
              <a href="#" class="dropdown-toggle" dropdown-toggle role="button" aria-expanded="false">Search E-PRTR data <span class="caret"></span></a>
              <ul class="dropdown-menu" dropdown-menu role="menu">
                <li><a href="#facilitylevels" ng-click="subtitle = 'Facility Level'">Facility Level</a></li>
                <li><a href="#industrialactivity" ng-click="subtitle = 'Industrial Activity'">Industrial Activity</a></li>
                <li><a href="#areaoverview" ng-click="subtitle = 'Area Overview'">Area Overview</a></li>
                <li class="divider"></li>
                <li><a href="#pollutantreleases" ng-click="subtitle = 'Pollutant Releases'">Pollutant Releases</a></li>
                <li><a href="#pollutanttransfers" ng-click="subtitle = 'Pollutant Transfers'">Pollutant Transfers</a></li>
                <li><a href="#wastetransfers" ng-click="subtitle = 'Waste Transfers'">Waste Transfers</a></li>
                <li class="divider"></li>
                <li><a href="#facilitydetails">Facility details</a></li>
              </ul>
            </li>
            <li ng-class="{ active: isActive('/about')}"><a href="#about" ng-click="subtitle = 'About E-PRTR'">About E-PRTR</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home">Download</a></li>
            <li><a href="#">Links</a></li>
            <li><a href="#">Library</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>




  <div class="bs-header" id="content">
      <div class="container">
       <div class="row">
       	<div class="col-md-6">
       		<h1>E-PRTR</h1>
       	</div>
       	<div class="col-md-1">
       	</div>
       	<div class="col-md-5">
       	<a href="http://www.eea.europa.eu" accesskey="2"><img src="images/logo.gif"></a>
       	<a href="http://ec.europa.eu/index_da.htm" accesskey="1"><img id="europeancommission" src="images/europeancommission.gif"></a>
       	</div>
       </div>
<!--          <h2>{{subtitle}}</h2>  -->
      </div>
    </div>

</div>



    <div id="container" class="container">
  	    <div class="col-md-12"> 
  	    <div ng-controller="HeaderController"> 
<!--   	         <h2>{{subtitle}}</h2> -->
  	     </div>   
	    	<div id="workarea">
	      		<div class="row">
	        		<div ng-view></div>
	        	</div>
	      	</div> <!-- workarea -->      
      	</div>
    </div>  <!-- container -->
 
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">			
			European Environment Agency (EEA)<br />
			Kongens Nytorv 6<br />
			1050 Copenhagen K<br />
			Denmark<br />
			Phone: +45 3336 7100<br /> 
			</div>
			<div class="col-md-5">
	
			<div class="col-md-1">
		     	  <a id="twitter-link" title="Follow us on Twitter" href="http://twitter.com/euenvironment">&nbsp;</a>
		    </div>
			<div class="col-md-1">		     	
		          <a id="facebook-link" title="Follow us on Facebook" href="http://www.facebook.com/European.Environment.Agency">&nbsp;</a>
		     </div>
		     	<div class="col-md-1">
		   	      <a id="youtube-link" title="Follow us on YouTube" href="http://www.youtube.com/user/EEAvideos">&nbsp;</a>
		     	</div>
		     	<div class="col-md-1">   	
		   	     	<a id="rss-link" title="Follow us on RSS-Feed" class="link-plain" href="http://www.eea.europa.eu/subscription/news-feeds">&nbsp;</a>
		     	</div>
		     	<div class="col-md-1">
		   		   <a id="email-link" title="Subscribe via email" href="http://www.eea.europa.eu/subscription/targeted-subscription">&nbsp;</a>
		    	</div>
			</div>
			<div class="col-md-4">
				<div class="col-md-9">
				The European Environment<br />Agency (EEA) is an agency of<br /> the European Union.<br />
				<a href="http://europa.eu/geninfo/legal_notices_en.htm">Legal notice</a>
				</div>
				<div class="col-md-3">
				<img src="images/eu-flag.gif" alt="" />
				</div>
			</div>
		</div>
		<!-- http://www.eea.europa.eu/legal/ -->
	</div>
</footer>

  <!-- build:js(src/main/webapp) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-loader/angular-loader.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="bower_components/restangular/dist/restangular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/leaflet/dist/leaflet.js"></script>
  <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
  <script src="bower_components/leaflet-plugins/control/Distance.js"></script>
  <script src="bower_components/leaflet-plugins/control/Layers.Load.js"></script>
  <script src="bower_components/leaflet-plugins/control/Permalink.js"></script>
  <script src="bower_components/leaflet-plugins/control/Permalink.Layer.js"></script>
  <script src="bower_components/leaflet-plugins/control/Permalink.Line.js"></script>
  <script src="bower_components/leaflet-plugins/control/Permalink.Marker.js"></script>
  <script src="bower_components/leaflet-plugins/layer/Icon.Canvas.js"></script>
  <script src="bower_components/leaflet-plugins/layer/Layer.Deferred.js"></script>
  <script src="bower_components/leaflet-plugins/layer/Marker.Rotate.js"></script>
  <script src="bower_components/leaflet-plugins/layer/Marker.Text.js"></script>
  <script src="bower_components/leaflet-plugins/layer/OpenStreetBugs.js"></script>
  <script src="bower_components/leaflet-plugins/layer/vector/GPX.js"></script>
  <script src="bower_components/leaflet-plugins/layer/vector/GPX.Speed.js"></script>
  <script src="bower_components/leaflet-plugins/layer/vector/KML.js"></script>
  <script src="bower_components/leaflet-plugins/layer/vector/OSM.js"></script>
  <script src="bower_components/leaflet-plugins/layer/tile/Bing.js"></script>
  <script src="bower_components/leaflet-plugins/layer/tile/Google.js"></script>
  <script src="bower_components/leaflet-plugins/layer/tile/Yandex.js"></script>
  <script src="bower_components/esri-leaflet/dist/esri-leaflet.js"></script>
  <script src="bower_components/esri-leaflet-clustered-feature-layer/dist/esri-leaflet-clustered-feature-layer.js"></script>
  <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
  <script src="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
  <!-- endbower -->
  <script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
  <!-- endbuild --> 
  
 
  <!-- build:js(src/main/webapp) scripts/scripts.js -->
  <script src="app.js"></script>
  <script src="views/home/home.js"></script>
  <script src="views/about/about.js"></script>
  <script src="views/facilitylevels/facilitylevels.js"></script>
  <script src="views/facilitydetails/facilitydetails.js"></script>
  <script src="views/areaoverview/areaoverview.js"></script>
  <script src="views/industrialactivity/industrialactivity.js"></script>
  <script src="views/pollutantreleases/pollutantreleases.js"></script>
  <script src="views/pollutanttransfers/pollutanttransfers.js"></script>
  <script src="views/wastetransfers/wastetransfers.js"></script>
  <script src="components/search-filter/search-filter.js"></script>
  <script src="components/facilitydetails/fd-main.js"></script>
  <script src="components/esrileafmap/esrileafmap.js"></script>
  <script src="components/search-placement/search-placement.js"></script>
  <script src="components/activity-search-filter/activity-search-filter.js"></script>
  <script src="components/facilitydetails/fd-main.js"></script>
  <script src="components/pollutant-search-filter/pollutant-search-filter.js"></script>
  <script src="components/waste-search-filter/waste-search-filter.js"></script>
  <!-- endbuild -->

</body>
</html>
