<div class="form-group">
	<label class="control-label" for="inputCountry">{{tr_c.Country}}</label>
	<select class="form-control" ng-model="searchFilter.selectedReportingCountry" ng-options="c.name for c in reportingCountries" id="inputCountry"></select>
</div>


<!--div  class="form-group" >
	<p class="control-label"><strong>{{tr_c.Region}}:</strong></p>
	<select class="form-control top-buffer10" ng-disabled="disableRegionSelect" ng-model="searchFilter.selectedRegion" ng-options="r.name for r in regions"></select>
</div-->

<div class="form-group">
	<label class="control-label" for="inputYear">{{tr_c.Year}}</label>
	<select class="form-control" ng-model="searchFilter.selectedReportingYear" ng-options="y.year for y in reportingYears track by y.year" id="inputYear"></select>
</div>
