<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	
	<mvc:resources location="/" mapping="/*"/>

	<!-- Scans the classpath of this application for @Components to deploy as beans -->
	<context:component-scan base-package="eea.*" />
	
	<!-- Configures the @Controller programming model -->
        <mvc:annotation-driven>
            <mvc:path-matching
                suffix-pattern="false"
                trailing-slash="false"/>
        </mvc:annotation-driven>

    <!--tx:annotation-driven transaction-manager="transactionManager" /-->  
    <tx:annotation-driven  />  

    <util:properties id="application" location="classpath:application.properties"/>

    <context:property-placeholder order="0" ignore-unresolvable="true" system-properties-mode="OVERRIDE" properties-ref="application"/>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
        <qualifier value="tmEprtr"/>
    </bean>

    <!--tx:annotation-driven transaction-manager="transactionManagerCms" /-->  
    <bean id="transactionManagerCms" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactoryCms" />
        <qualifier value="tmEprtrCms"/>
    </bean>
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    	<property name="persistenceUnitName" value="eprtr"/>
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="eea.eprtr.*" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="true" />
            </bean>
        </property>
    </bean>      
    <bean id="entityManagerFactoryCms" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    	<property name="persistenceUnitName" value="eprtrcms"/>
        <property name="dataSource" ref="dataSourceEprtrCms" />
        <property name="packagesToScan" value="eea.eprtrcms.*" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="true" />
            </bean>
        </property>
    </bean>
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" scope="singleton">
        <property name="jndiName" value="java:comp/env/jdbc/datasource" />
        <property name="resourceRef" value="true" />        
    </bean>
    <bean id="dataSourceEprtrCms" class="org.springframework.jndi.JndiObjectFactoryBean" scope="singleton">
        <property name="jndiName" value="java:comp/env/jdbc/datasourcecms" />
        <property name="resourceRef" value="true" />        
    </bean>

    <bean id="storageService" class="eea.eprtr.dao.StorageServiceFiles">
        <property name="storageDir" value="${storage.dir}" />
    </bean>
    <bean id="mapurlService" class="eea.eprtr.dao.MapServiceUrlsRepository">
        <property name="profile" value="${profile}" />
        <property name="prodFacilitiesUrl" value="${mapsource.prod.facilitiesurl}" />
        <property name="prodEmissionWaterUrl" value="${mapsource.prod.emissionwaterurl}" />
        <property name="prodEmissionAirUrl" value="${mapsource.prod.emissionairurl}" />
        <property name="prodLcpUrl" value="${mapsource.prod.lcpurl}" />
        <property name="testFacilitiesUrl" value="${mapsource.test.facilitiesurl}" />
        <property name="testEmissionWaterUrl" value="${mapsource.test.emissionwaterurl}" />
        <property name="testEmissionAirUrl" value="${mapsource.test.emissionairurl}" />
        <property name="testLcpUrl" value="${mapsource.test.lcpurl}" />
    </bean>

</beans>
